
.gsc-control-cse {
  font-family: @font-family-sans-serif;
  .gsc-input-box {
    border: none;
  }
  input.gsc-input {
    .form-control();
    height: 35px!important;
    border: 1px solid #cccccc!important;
    padding: 5px!important;
  }
  td.gsc-search-button input {
    .btn;
    .btn-primary;
    height: 30px!important;
    width: 43px!important;
  }
  .gsc-clear-button {
    display: none;
  }
  .gsc-branding,
  .gcsc-branding {
    display: none;
  }

  .gsc-adBlock, .gsc-above-wrapper-area {
    display: none;
  }

  .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding: 0;
  }

  .gs-webResult.gs-result {
    font-size: @font-size-base;
    .gs-title * {
      color: @link-color;
    }
    a.gs-title {
      color: @link-color;
      &:link {
        text-decoration: none;
        b {
          color: @link-color;
          &:link {
            text-decoration: none;
            color: @link-color;
          }
          &:visited {
            color: @link-color;
          }

        }
      }
      &:visited {
        color: @link-color;
      }
    }
    .gs-visibleUrl-short {
      color: lighten(@text-color,20%);
    }
    .gs-image-box {
      display: none;
    }
  }
  .gsc-cursor-box {
    .text-center;
    .gsc-cursor {
      margin: 21px 0;
      display: block;
      .gsc-cursor-page {
        display: inline-block;
        padding: 3px;
        width: 28px;
        margin-left: 10px;
        border-radius: 100%;
        line-height: 1.5;
        color: #2b6d86;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        &.gsc-cursor-current-page {
          z-index: 2;
          color: #fff;
          cursor: default;
          background-color: #34697d;
          border-color: #34697d;
        }
      }
    }
  }
}
