.demarche-summary {
  article {
    h3 {
      margin-bottom: 0;
      padding: 20px
    }
  }
  .badge {
    background-color: transparent;
    color: black;
  }
  .block-special {
    .col-md-4.text-center {
      padding: 0 40px;
      h3 {
        margin-top: 0;
      }
    }
  }
  .quicklink {
    .rounded {
      background-color: @blue;
      color: @white;
      width: 70px;
      height: 70px;
      padding: 15px;
      font-size: 2.5em;
    }
    p {
      margin: 10px 0;
      font-size: 1.1em;
    }
  }
}