//
// dce--icon-text-
// --------------------------------------------------
.dce--icon-text {
  .clearfix();
}
.dce--icon-text--icon {
  font-size: 2em;
  .glyphicon {
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 1em;
    width: 1em;
  }
}
.dce--icon-text--size-medium {
  font-size: 3em;
}
.dce--icon-text--size-large {
  font-size: 4em;
}
.dce--icon-text--size-awesome {
  font-size: 5em;
}
.dce--icon-text--position-top .dce--icon-text--icon {
  margin-bottom: @line-height-computed;
}
.dce--icon-text--type-square,
.dce--icon-text--type-circle {
  .glyphicon {
    line-height: 2.3em;
    height: 2.3em;
    width: 2.3em;
  }
}
.dce--icon-text--type-circle {
  .glyphicon {
    border-radius: 50%;
  }
}
.dce--icon-text--position-left,
.dce--icon-text--position-right {
  .dce--icon-text--icon {
    position: relative;
    min-height: 1px;
    padding-left:  (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }
}
.dce--icon-text--position-left .dce--icon-text--icon {
  float: left;
  margin-left: -1 * (@grid-gutter-width / 2);
}
.dce--icon-text--position-right .dce--icon-text--icon {
  float: right;
  margin-right: -1 * (@grid-gutter-width / 2);
}
.dce--icon-text--position-left .dce--icon-text--content,
.dce--icon-text--position-right .dce--icon-text--content  {
  *:first-child {
    margin-top: 0px;
  }
  overflow: hidden;
  zoom: 1;
}