//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


// --------------------------------------------------
//page article
// --------------------------------------------------
.header-article {
	.date{
		display:block;
		font-size:14px;
		color:lighten(@text-color,20%);
		font-style:italic;
	}
	h1{
		padding-bottom:0;
	}
	.badge{
		position:absolute;
	}
}	
.accroche{
	margin-bottom:30px;
	.diapo{
	padding-bottom:0;
	}
	.video{
		h2{
			margin-top:0;
		}
		padding-top:15px;
		margin:0;
		font-size:@font-size-base;
		.date{
			font-size:@font-size-small;
			color:lighten(@text-color,20%);
			font-style:italic;
		}
	}
}
.texte-accroche{
	font-size:(@font-size-h1 - 10);
	font-family: 'Roboto';
	font-weight:300; 
	border-left : 2px solid @blue;
	margin:@grid-gutter-width 0 0 0;
	padding: 0 0 @grid-gutter-width @grid-gutter-width;
	line-height:1.2;
	text-transform: none;
}
.infos-formulaire{
	font-family: 'Roboto';
	font-weight:100;
	border-left : 2px solid @blue;
	margin:10px 0 0 0;
	padding-left:15px;
}

.legend{
	color:@gray;
	font-style:italic;
	font-family: 'Roboto';
	font-weight:100;
	border-bottom:2px solid @gray-lighter;
	margin-bottom:15px;
}
//.rteContent{
//	p{
//	font-size:15px;
//	}
//}

.block-special { 
	background: url("@{images-path}block-special.png") no-repeat left bottom @sand;
	background-size:100% auto; 
	padding:@grid-gutter-width @grid-gutter-width ceil((@grid-gutter-width * 2)); 
	border-top:2px solid @blue;
	margin-bottom:30px;
	h2{
		color:@blue;
		margin-top:0;
	}
}
.dropdown-social{	
	@media(min-width:@screen-md-min){
		margin-top:5px;
	}
	@media(max-width:@screen-md-max){
		.fa.rounded-sm{
		padding:13px 2px 0 0;
		}
	}
	@media(min-width:@screen-md-min){
		.fa.rounded-sm{
		padding:8px 2px 0 0;
		}
	}
	font-weight:bold;
	color:@black;
	ul.dropdown-menu {
		min-width: 100px;
 		background-color: @blue;
		margin: 0 6px 0 7px;
		padding:0;
		box-shadow: none;
		>li>a {
			color:@white;
			border-bottom:1px solid fade(@white,20%);
			padding:5px 10px 10px 10px;
			background-image:none;
			}
		>li>a:hover {
			background-color:@orange;
			color:@white;
			}
		>li:last-child>a {
			border:none;
		}
	}
}

