//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

//

.mega-menu {

  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }  

  .dropdown-menu  {
    top: auto;
    width: 100%;
    left: 50%;
	@media (min-width:@screen-md-min){
		margin-left:(-1* (@container-desktop/2 - @grid-gutter-width/2));
		width:(@container-desktop - @grid-gutter-width);
		}
	@media (min-width:@screen-lg-min){
		margin-left:(-1 * (@container-large-desktop/2 - @grid-gutter-width/2));
		width:(@container-large-desktop - @grid-gutter-width);
		}
  }

}
.mega-menu.mega-menu-full .dropdown-menu  {
	    left: 0;
	    right: 0;
		width:100%;
		margin:0;
	 }
