@import url(http://fonts.googleapis.com/css?family=Lato:400,100,700,900);  
@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);

//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";



//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);
  border:0;
  transition:0.5s;

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
  &:hover,
  &:focus {
    .box-shadow(0 5px 20px rgba(0,0,0,.25));
	color:#fff;
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: @orange-base;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &:disabled,
  &[disabled] {
    background-color: darken(@btn-color, 12%);
  }
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  &:active, 
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
  h3 {
	  margin-top:0;
  }
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Navbar
// --------------------------------------------------

.navbar-dashboard{
	margin:0;
}

// Default navbar
.brand{
	line-height:normal;
	display:block;
	padding-top:@grid-gutter-width/2;
	@media (max-width: @screen-xs-max) {
		font-size:@font-size-base;
	}
	strong{
		font-size:@font-size-base * 2;
		text-transform:uppercase;
		font-weight:900;
		@media (max-width: @screen-xs-max) {
			font-size:@font-size-base + 1;
		}
	}
	em{
		
	}
	@media (max-width: @screen-sm-max) {
		padding-top:@grid-gutter-width / 2; 
		
		}
	@media (max-width: @screen-xs-max) {
		font-size:ceil((@font-size-base * 1.25));		
		}
	@media (min-width: @screen-xs-min) {
		font-size:ceil((@font-size-base * 1.5));
		}
	}
	

.navbar-right {
    margin-right: @grid-gutter-width / 2; 
}

.navbar-default.sub-nav{
	.navbar-nav > li > a {
	    padding-bottom: 5px;
	    padding-top: 5px;
		font-size:ceil((@font-size-base * 0.90));
		white-space:nowrap;
		color:@white;
		&:hover{
			color:@white;
		}
	}
	@media (max-width: @screen-sm-max) {
		text-align:center;
		li{
		display:inline;
			a{
			display:inline;
			
			}
		}
	}

}	
.navbar-form{
	padding-top:@grid-gutter-width * 2;
	margin-top: 0;
	}
.navbar-toggle, .navbar-search-sm {
	background:@black ;
	 margin-left:@grid-gutter-width;
	 margin-top:@grid-gutter-width; 
	.icon-bar {
   	 border: 1px solid @white;
	}
}
.navbar-default {
  background-color:@black;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow:none;

  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	font-size: 15px;  
	padding-right:@grid-gutter-width / 2;
	padding-left:@grid-gutter-width / 2;
	@media (min-width : @screen-lg-min){
		padding-right:@grid-gutter-width;
		padding-left:@grid-gutter-width;			
		}
	}

// Inverted navbar

.navbar-inverse .navbar-nav > li > a {
	color:@gray-lighter;
}

.navbar-inverse {
	background-color:@black;
  border-radius:0;

  .navbar-nav > .open > a,
  .navbar-nav > .active > a,
  .navbar-brand,
  .navbar-nav > li > a,
  .navbar-nav > .open > a{
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		background-image:none;		
		&:hover,
		&:focus{
			background-color:@black;
			  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.25);
	}
  }

  .navbar-nav.main-nav > li > a{
	  font-size:@font-size-base*1.25;
	  @media (max-width : @screen-md-max){
	  	padding-left:10px;
	  	padding-right:10px;
	 	 }	
	 }
	 .dropdown.open > a, 
	 .dropdown.open > a:hover, 
	 .dropdown.open > a:focus, 
	 .dropdown.open .dropdown-menu, 
	 .dropdown.open .dropdown-menu > li > a{
    	background-color:#aeaeae;		
		color:@black
		
	}
	.dropdown-menu > li > a {
		
	}
	.dropdown-menu {
		background-color:lighten(@black,10%);
		border:none;
		min-width:250px;
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			li {
				border-bottom:1px solid @black;
				padding:@grid-gutter-width @grid-gutter-width; 
				&:last-child{
				   border:none;
				}
				&:hover {
					background-color:@white;
				}
			}
		}
	}
  .dropdown-menu > li > a {
		color:#fff;
	}
	.dropdown-menu > li > a:hover{
		color:#000;
		}
	.navbar-search{
		color: #fff;
	    height: 35px;
	    padding: 0;
	    width: 46px;
	}
	
	.dropdown-menu.mega-menu{
		left: 0;
		top: auto;
		width: 100%;
		padding-top:@grid-gutter-width*2;
		padding-bottom:@grid-gutter-width;
		font-size:@font-size-base*1.25;
		.sub-menu a{
		color:#fff;
		padding:@grid-gutter-width 0;
		display:inline-block;
		}
	}
}


// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  text-shadow: 0 1px 0 rgba(255,255,255,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
}

// Mixin for generating new styles
.alert-styles(@color) {
  border-color: darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken(@list-group-active-bg, 10%);
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);

  .badge {
    text-shadow: none;
  }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


// 
// Wells
// --------------------------------------------------

.well {
  border-color: darken(@well-bg, 10%);
}


// --------------------------------------------------
// --------------------------------------------------
// ads-COM-------------------------------------------
// --------------------------------------------------
// --------------------------------------------------

// --------------------------------------------------
// Heading
// --------------------------------------------------
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

	}

// --------------------------------------------------
// Links
// --------------------------------------------------
a{
	transition:0.25s;
	}



// --------------------------------------------------
// NEWS & Diary
// --------------------------------------------------

#actus, #agenda, #kiosque, .liste-actus {	 
	margin-top:@grid-gutter-width;
	@media (max-width: @screen-xs-max) {
		text-align:center;
		img{
			display:inline;
			}
		
	}
	article{
		div:first-child{
			margin-bottom:0;
			}
		h3{
			margin-top:0;
			font-size:@font-size-base*1.55;
		
		}
		.caption{
			*{
				margin:0 0 2px;
				}
		}
		.badge {
			margin-top:5px;
				}
		.date{
			display:block;
			font-size:@font-size-small;
			color:lighten(@text-color,20%);
		}
	}	
}


// --------------------------------------------------
// Content
// --------------------------------------------------

.breadcrumb {
	margin-top:@grid-gutter-width;
	margin-bottom:0;
}
#socials{
	@media (min-width: @screen-sm-min) {
	 margin-top:@grid-gutter-width;		
	}
	@media (min-width: @screen-md-min) {
	  margin-top:@grid-gutter-width * 2;
	}
	display: inline-block;
	}	
	
#accesContent {	 
	article{
		.date{
			display:block;
			font-size:@font-size-small;
			color:lighten(@text-color,20%);
			margin: 10px 0 20px;
		}
	}	
}

// --------------------------------------------------
// Share
// --------------------------------------------------

.share, .share.list-inline {
	text-align:right;
margin-top:@grid-gutter-width * 2;
  & > li {
  	padding:0;
  }

 
}



// --------------------------------------------------
// Jumbotron
// --------------------------------------------------

#jumbotron h3, .carousel h3 {
		font-weight:800;
		text-transform:uppercase;
		font-size:@font-size-h2;
		
	}
// --------------------------------------------------
// Carousel
// --------------------------------------------------
.home {
	.carousel{
		background-color:@gray-darker; 
		margin:@grid-gutter-width 0;
		.carousel-caption{
			margin:0;
			width:100%;
			left:0;
			color:@white;
			text-shadow:none;
			padding: 20px 50px @grid-gutter-width*2 5px;
			margin:0;
			opacity : 0;
			transition:1s;
			transition-delay: 0.125s;
			position:absolute;
			bottom:-@grid-gutter-width*2;
			background-color:@gray;
			@media (min-width: @screen-md-min) {
				z-index:100;
			}
			font-size:@font-size-base*1.25;
			@media (max-width: @screen-sm-max) {
				padding:0 @grid-gutter-width / 2;
				}
			h2{
				font-weight:800;
				text-transform:uppercase;
				}
		} 
		.item{
			background-color:@gray-darker; 
		}	
		.badge{
			background-color:@black;
			color:#fff;
		}
		.carousel-control{
			z-index:100;
		}
		.carousel-indicators {
	   		bottom: -33px;
			z-index:200;
			li{
			background-color:@gray-darker;
			border-color:@black;
				&.active{
				background-color:@white;
				
				}
			}
		}
		.fa{
			position: absolute;
			top:50%;
			margin-top:-10px;
		}
		@media (min-width: @screen-md-min) {
			.bg{
					background: url("../images/carrousel-caption.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
					bottom: 0;
					height: 140px;
					opacity: 0.9;
					position: absolute;
					width: 100%;
					z-index: 50;
				}
		}
	}
	.carousel .item.active .carousel-caption{
			opacity : 1;
			bottom:0;
			}
	.carousel .item.active.left .carousel-caption{
			opacity : 0;
			transition-delay: 0;
			bottom:0; 
			}
	.carousel, .carousel-inner, .carousel .item{
		height:375px;
		@media (min-width: @screen-xs-min) {
			height:405px;
		}	
	
		@media (min-width: @screen-lg-min) {
			height:450px;
		}	
	}
}

	
// --------------------------------------------------
// Quicklinks
// --------------------------------------------------

.quicklink  {
	padding:@grid-gutter-width 0 0 0 ; 	

	.btn{
		margin-bottom: @grid-gutter-width;
     	width: 100%;
		min-height:75px; 
		padding-top:@grid-gutter-width;
		@media (min-width: @screen-lg-min) {
			min-height:101px;
		}
	}
	.fa {
    	font-size: 30px;
	}
}

	

	
// --------------------------------------------------
// Tabs
// --------------------------------------------------

#myTab li a {
	font-size:@font-size-h4;
	}
#myTabContent {
		padding:@grid-gutter-width 0 ; 
		.row>div{
			margin-bottom:@grid-gutter-width; 
		
		}
		
}



// --------------------------------------------------
// Calendar & Themes & renseignements & liens-utiles & ressources
// --------------------------------------------------
#calendar, #ressources {
	margin-top:15px;
}
#calendar h3{
	margin-top:0;
	text-align:center;

}

#calendar,  #listeThemes{
	.checkbox, .radio{
		border-top:1px solid lighten(@gray,50%); 
		padding-top:@grid-gutter-width/2;
			label{
			}
	}
	.cal-content a {
		display:inline-block;
		padding:@grid-gutter-width / 4; 
		
	}
	.cal-event a {
		border:1px solid lighten(@gray,50%); 
		border-radius:5px;
		
		
	}
}

#renseignements, #liens-utiles, #ressources{
	margin:@grid-gutter-width 0;
}



// --------------------------------------------------
// Pagination
// --------------------------------------------------
.pagination {
	margin:20px;
}




// --------------------------------------------------
// Footer
// --------------------------------------------------

footer{
	background-color:@black;
	color:lighten(@black,80%);
	padding-bottom:@grid-gutter-width;
	.navbar-default{
		margin:15px 0;
		}
		a, a:hover{
		color:#fff;
		text-decoration:underline;
		}
	}

.liste-actus, .list-item {
	article {
		margin-bottom:@grid-gutter-width;
	}
	.item{
		@media (min-width: @screen-md-min) {
			min-height: 300px;
		}
	}
	.item section {
		border-bottom: 1px solid #aeaeae;
		margin-bottom: 15px;
		@media (min-width: @screen-sm-min) {
			min-height: 250px;
		}
		@media (min-width: @screen-md-min) {
			min-height: 300px;
		}
	}
	.item h2 {
	margin-top:0;
	font-size:20px;
	}
	.item .row .btn {
		display:block;
	}
	.date {
		font-size:@font-size-small;
	}
}
.to-top.affix-bottom {
	bottom:0;
	right:0;
}

// --------------------------------------------------
// Formulaire etapes
// --------------------------------------------------


.etape{
	text-align:center;
	.inactive{
		font-size: 15px;
	}
	.badge{
		font-size: 15px;
		padding:10px;
	}
	li{
		margin:5px;
	}
}

