//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

//
// Navbar
// --------------------------------------------------





// Default navbar 
.navbar-toggle {
	background-color:@blue;
	transition:@transition-time;
	border-radius:0;
    padding: 4px;
    height: 50px;
    width: 50px;
	margin: 9px @grid-gutter-width 0 0;
	float:left;

	.icon-bar {
		width:35px;
		margin:0;
		position: absolute;
		border:1px solid @white; 
		top:0; 
		left:7px;
		transition:@transition-time; 
		}
	.icon-bar-1 { 
		top: 13px;
			}
	.icon-bar-2 {
		top: 20px;
			
			}
	.icon-bar-3 {
		top: 30px;				
			}
	&:not(.collapsed){
		background-color:@orange; 
		.icon-bar-1 { 
			transform: rotate(45deg);
    		top: 23px; 
				}
		.icon-bar-2 {
			opacity:0;
				
				}
		.icon-bar-3 {
			transform: rotate(-45deg);
    		top: 20px;				
				}
			}
}
.brand{
	font-weight:normal;
	line-height:normal;
	display:block;
	font-size:28px;
	margin:@grid-gutter-width 0 0 0;
	@media(max-width : @grid-float-breakpoint-max){
		height:50px;
		margin:0;
		line-height:2.1;
	}
	@media(max-width : @screen-xs-max){
		   line-height:1;
		   padding-top:17px;
		   }
	font-family:the_sans_light, Arial, Helvetica, sans-serif;
	@media (max-width: 350px) {
		line-height:1.5;
		font-size:20px;
	}
	@media (min-width: @screen-md-min) {
		font-size:32px;
	}

	strong{
		font-family:the_sans_regular, Arial, Helvetica, sans-serif;
		font-weight:900;
	}
	a{
		color: @black;
		text-transform: uppercase;
	}
}
.search {
	padding-top:@grid-gutter-width;
	color:red;
}	
.navbar-collapse {
	padding:0;
	border:none;
}

.navbar-default.sub-nav{
	background-color:@sand2;
	height:27px;
	.go-trans {
		padding: 2px 5px;
	}

	.navbar-nav > li > a {
	    padding-bottom: 5px;
	    padding-top: 2px;
		font-size:ceil((@font-size-base * 0.90));
		&:hover{
			color:@white;

		}
		@media (max-width: @screen-sm-max) {
			font-size: (@font-size-base + 1);

		}
	}
	@media (max-width: @screen-sm-max) {
		text-align:right;
		height:30px;
		li{
		display:inline;
			a{
			display:inline;
			
			}
		}
	}
	.navbar-form{
		margin:5px 0 ;
		.form-control{
			height:25px;
		}
		.btn{
			padding: 2px 8px;
		}
	}
}
.navbar-default {
  background-color:lighten(desaturate(@sand2,50%),10%);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  box-shadow:none;

  .navbar-nav > .open > a,
  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-link-active-bg, 5%); @end-color: darken(@navbar-default-link-active-bg, 2%)); 
    .box-shadow(inset 0 3px 9px rgba(0,0,0,.075));
  }
}
.navbar-brand,
.navbar-nav > li > a {
}

// Inverted navbar

.navbar-inverse .navbar-nav > li > a {
	color:@black;
}

.navbar-inverse {
	background-color:@white;
  border-radius:0;
  font-family:'the_sans_regular', Arial, Helvetica, sans-serif;
  border-bottom:2px solid @gray-lighter;
 @media(min-width : @grid-float-breakpoint){
	margin-top:@grid-gutter-width;
  border-top:2px solid @gray-lighter;
	  }

  .navbar-nav > .open > a,
  .navbar-nav > .active > a,
  .navbar-brand,
  .navbar-nav > li > a,
  .navbar-nav > .open > a{
	background-image:none;
	&:hover,
	&:focus{
		background-color:transparent;
		color:@orange;
		 box-shadow: none;
		}
  }
  .navbar-nav.main-nav > .open > a,
  .navbar-nav.main-nav > .open:hover > a {
	  background-color:@blue;
	  color:@white;
	  	  &:after{		  
		display: none;
		}
	  	 &:before{		  
		border-color:@blue;
		}
	  
  	}
  .navbar-nav.main-nav > li > a{
	  font-size:ceil((@font-size-base*1.25));
	  padding:11px 30px;
	  @media(min-width : @screen-md-min){
	  	  &:after{		  
		border-right:2px solid @gray-lighter;
		position: absolute;
		right: 0;
		height: 19px;
		top: 12px;
		display: block;
		content: " ";
		}
	  	 &:before{		  
		border-left:2px solid transparent;
	    transition:@transition-time;
		position: absolute;
		left: -2px;
		height: 100%;
		top: 0;
		display: block;
		content: " ";
		}
	  }

		
	  @media (max-width : @screen-md-max){
	  padding:11px 17px;
	 	 }	
		.fa-chevron-down {
			font-size:10px;
			  position: relative;
 		 	top: -2px;
		}
	 }
  .navbar-nav.main-nav > li:first-child > a {
	  background-color:@orange;
	  color:@white;
	  padding:11px @grid-gutter-width;
	  &:after{
		  border:none;
	  }
  }
  .navbar-nav.main-nav > li:last-child > a {
	  &:after{
		  border:none;
	  }
  }
	.navbar-nav > .open > .dropdown-menu {
		background-color:@blue;
		border:none;
	}
	
	.sub-menu{
		list-style-type:none;
		padding:@grid-gutter-width 0 ceil((@grid-gutter-width * 2)) 0;
		@media(max-width:@screen-sm-max){
			
		}
	}
  .sub-menu li {
      padding:0;
      @media (max-width: @screen-xs-max){
            margin-left: 15px;
      }
  }
  .sub-menu > li > a {
		color:@white;
		padding:16px 0 0 0;
		font-size:ceil((@font-size-base * 1.25));
	  	border-bottom:2px solid @white;
		display:block;
		margin-right:@grid-gutter-width;
		padding-bottom:ceil((@grid-gutter-width / 2));
	}
	.sub-menu li a.active, .sub-menu li a:hover {
		background-color:@orange;
		padding-left:ceil((@grid-gutter-width * 2));
		transition:@transition-time;
		&::before {
		  display: inline-block;
		  font: normal normal normal 12px/1 FontAwesome;
		  text-rendering: auto;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		  transform: translate(0, 0);
		  content: "\f054";
		  position:absolute;
		  left:10px;
		  margin:6px 0 0 0;
		}
	}
	.sub-menu li.is-rich {

		.visuel {
			border: 2px solid white;
			margin-right: @grid-gutter-width;
			margin-bottom: (@grid-gutter-width - 10);
		}
		p {
			margin: 0;
		}

		a.active, a:hover {
			background-color: inherit;
			padding-left: 0;
			border-color: @orange;
			//transition: none;
			&::before {
				display: inline-block;
				font: normal normal normal 12px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transform: translate(0, 0);
				content: "";
				position:static;
				left:0;
				margin:0;
			}
			.visuel {
				//border-color: @orange;
			}

		}

	}
	.navbar-search{
		color: #fff;
	    height: 35px;
	    padding: 0;
	    width: 46px;
	}
}
.navbar-nav{
	margin:0
}

.main-nav .territoires{
		.well {
			margin:ceil((@grid-gutter-width * 2)) 0 0 0;
			padding:@grid-gutter-width;
		}
		path {
			transition:@transition-time;
			stroke:@white;
			 stroke-width: 2;
			 fill:@gray-lighter;
			 cursor:pointer;			
		}
		path#loire {
			fill:@blue;
		}
		path.active{
			 fill:@orange;
			 z-index:100;
		}
		.btn-default{
			color:@white;
			border-color:@white;
            &:hover{
                border-color:@orange;
            }
		}
	}
.map{
	padding:15px;
	svg {
		height:395px;
	}
}
.main-nav li.search {	
	border-bottom:2px solid @gray-lighter;
	padding-top:0;
}
.collapse.in .main-nav, .collapsing .main-nav{
	background-color:@sand;
	@media (max-width: @grid-float-breakpoint-max) {
		border-top:2px solid @orange;
	}

}
.bloc-sous-menu{
	background:@white;
	border:none;
	margin: 15px 0px 30px 0;
	.h2{
		font-family:'the_sans_bold'; 
		font-size:20px;
		padding: 15px 0 0 15px;
	}
	ul{
		font-size : 15px;
	}
	.fa{
		padding-right: 10px;
	}
	li{
		margin: 0 15px 0 15px;
		border-top:1px solid @gray-lighter;
		border-bottom: none;
		border-right:none;
		border-left:none;
		padding-left:0;
	}
}
// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

ul#socials {
  margin: 26px 0 0 0px;
    @media(max-width : @screen-sm-max){
        margin: 10px 0 5px;
    }
}

//
// Search
// --------------------------------------------------
.main-nav .navbar-form {
	padding:ceil((@grid-gutter-width/2)) ceil((@grid-gutter-width/2)) ceil((@grid-gutter-width/2)) @grid-gutter-width;
	margin-top:0;
	margin-bottom:0;
	.form-control {
		display:inline-block;
	}
	.btn.rounded-sm, .rounded-s {
		position: absolute;
		right: ceil((@grid-gutter-width/2));
		top: 5px;
		padding-top:3px;
		@media(max-width : @grid-float-breakpoint-max){
			padding-top:5px;
		}
	}
}

.navbar-form {
		width:100%;  
		padding-top:15px;
		border: none;
		.form-control {
		@media (min-width: @screen-md-min) {
			width: 170px;
		}
		@media (min-width: @screen-lg-min) {
			width: 224px;
		}
		border: none;
		border-left: 1px solid @gray-lighter;
		padding: 0 0 0 8px;
		font-style: italic;
		box-shadow:none;
		}
	.btn.rounded-sm, .rounded-sm {
	}
}