//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
// Home
// --------------------------------------------------

// Caroussel principal de la page d'accueil
@keyframes animateCarouselImgIn {
	0% {opacity:0;transform:scale(1.5);}
	100% {opacity:1;transform:scale(1);}
}
@keyframes animateCarouselTexteIn {
	0% {opacity:0;}
	50% {opacity:0;position:relative; top:15px;}
	100% {opacity:1;top:0;}
}

.carousel-home{
	background-color:@white;
	margin:@grid-gutter-width 0;
	.btn {
		.sr-only;
	}
	.carousel-caption{
		margin:0;
		width:100%;
		left:0;
		bottom:0;
		color:darken(@blue,10%);
		text-shadow:none;
		position:absolute;
		font-size:ceil((@font-size-base*1.1));
		a{
			color:@black;
			&:hover {
				color:@orange;				
			}
		}
		.badge{
			background-color:@blue;
			color:#fff;
			position:relative;
		}
		h3{
			font-family:'the_sans_bold', Arial, Helvetica, sans-serif;
			text-transform:uppercase;
			position:relative;
			margin:@grid-gutter-width 0 0 0;
			font-weight:bold;
			@media (max-width: @screen-xs-max) {
				font-size:20px;
				}
			}
		p{
			position:relative;
			margin:0;
			
		}
		@media (min-width: @screen-md-min) {
			z-index:100;
		}
		@media (max-width: @screen-xs-max) {
			background-color:@white;  
			min-height: 210px;			
			}
	} 
	.carousel-indicators {
   		bottom: -10px; 
		z-index:200;
		
	}
	.carousel-control .fa{ 
		top:25%;
		@media (min-width: @screen-sm-min) {
			top:50%; 
			}
		}

	.carousel-control.left, .carousel-control.right {
		background-image:none;
	}
	@media (min-width: @screen-sm-min) {
		.bg{
				background: url("@{images-path}carrousel-caption.png") no-repeat scroll center 20px rgba(0, 0, 0, 0);
				background-size:100%;
				bottom: 0;
				height: 140px;
				position: absolute;
				width: 100%;
				z-index:5;
			}
	}

	// animation
	.carousel-inner {
		.active.left,
		.active.right {
			.badge {
				}
			}
		
		.next.left,
		.prev.right {
			img {
				animation-name:animateCarouselImgIn;
				animation-duration:2s;			
				}
			.badge {
				animation-name:animateCarouselTexteIn;
				animation-duration:1.5s;			
				}
			h3 {
				animation-name:animateCarouselTexteIn;
				animation-duration:2s;			
				}
			p {
				animation-name:animateCarouselTexteIn;
				animation-duration:2.5s;	
				color:@black;		
				}
				
			}
		}	
}


// --------------------------------------------------
// Zoom Sur
// --------------------------------------------------

.zoom-sur {
	background: url("@{images-path}zoom-sur.png") no-repeat 0 center ;
	padding-bottom:@grid-gutter-width;
	@media(min-width: @screen-md-min) {
		height: 740px;
		padding-bottom:0;
	}
	h2{
		font-family:'the_sans_bold', Arial, Helvetica, sans-serif;
		font-size:25px;
		padding-bottom:13px;
		padding-right:ceil((@grid-gutter-width * 2));
		font-weight:700;
		@media(min-width: @screen-md-min) {
			padding-top:90px;
			}
	}
}

@keyframes animateCarouselZommTexteIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

.carousel-zoom {
	margin-bottom:ceil((@grid-gutter-width * 3));
	&.carousel, .item, .carousel-inner {
		@media(min-width: @screen-sm-min) {
		    height: 400px;
		}
		@media(min-width: @screen-md-min) {
		height:460px;
		}
		@media(min-width: @screen-lg-min) {
		height:450px;
		}				
	}
	figure {
		height: 100%;
		img {
			width: auto;
			height: 100%;
		}
	}
	.carousel-inner {
		box-shadow:0 20px 40px -20px rgba(0,0,0,1);
	}
	.carousel-caption {

		@media(min-width: @screen-md-min){
			text-align:right;
		}
		@media(min-width: @screen-md-min) {
			height:100%;
		}
		@media(max-width: @screen-xs-max) {
		height:250px;
		}
		.make-md-column(4; @gutter: 0);
		right:0;
		bottom:0;
		position:absolute;
		background-color:@black;
		color:@white;
		font-size:16px;
	}
	.carousel-caption:before {
		display:block;
		height:100%;
		position:absolute;
		top:0;
		margin-left:-30%;
		width:30%;
		content:" ";
		#gradient > .horizontal(@start-color: fade(@black,0); @end-color: fade(@black,100%));
	}
	h3{
		a {
			color: @white;
		}
		font-size:30px;
	  	@media(max-width:@screen-xs-max){
			font-size:20px;
		}
		font-family:the_sans_bold, Arial, Helvetica, sans-serif;
		font-weight:900;
		text-transform:uppercase;
		margin:@grid-gutter-width ceil((@grid-gutter-width * 2)) @grid-gutter-width ceil((@grid-gutter-width * 2));
		@media(min-width: @screen-md-min) {
			margin:ceil((@grid-gutter-width * 2)) ceil((@grid-gutter-width * 4)) @grid-gutter-width ceil((@grid-gutter-width * 2));
		}
		@media(min-width: @screen-lg-min) {
			margin:ceil((@grid-gutter-width * 6)) ceil((@grid-gutter-width * 4)) @grid-gutter-width ceil((@grid-gutter-width * 2));
		}
	}
	p{
		margin:@grid-gutter-width ceil((@grid-gutter-width * 4)) @grid-gutter-width ceil((@grid-gutter-width * 4));
		@media(min-width: @screen-md-min) {
			margin:@grid-gutter-width ceil((@grid-gutter-width * 4)) @grid-gutter-width 0;
		}
	}
	.btn-default{ 
	}
	.carousel-indicators {
		bottom:ceil((@grid-gutter-width * -3));
        @media(min-width:@screen-sm-min){
			bottom:-45px;
		}
        @media(min-width:@screen-md-min){
			bottom:-50px;
		}
		@media(min-width:@screen-lg-min){
			bottom:ceil((@grid-gutter-width * -3));
		}
	}
	.next.left,	.prev.right {
		img {
			animation-name:animateCarouselImgIn;
			animation-duration:2s;
			}
		h3 {
			animation-name:animateCarouselZommTexteIn;
			animation-duration:1.5s;
			}
		p {
			animation-name:animateCarouselZommTexteIn;
			animation-duration:2s;
			}
		.btn {
			animation-name:animateCarouselZommTexteIn;
			animation-duration:2s;
			}

		}

}
	
