//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";



	
	
// --------------------------------------------------
// Sidebar
// --------------------------------------------------

.entete {
	background:@blue;
	padding:15px;
	min-height:55px;
	margin:0;

	h3{
		font-family: 'the_sans_bold';
		color:@white;
		text-align:center;
		text-transform:uppercase;
		font-size: 22px;
		margin:0;
	}
}
.sidebar section {
	margin-bottom:ceil((@grid-gutter-width * 2));
	&:last-child {
		margin-bottom:0;
	}
	h4 {
		padding:ceil((@grid-gutter-width / 2)) @grid-gutter-width 0 @grid-gutter-width;
	}
	.today .btn {
		background-color:@orange;
	}
	.checkbox.active {
		color:@orange;
	}
}
	
	
.calendar{
	h3{
		margin-top:4px;
		@media(max-width:@screen-sm-max){
			margin-top:8px;
		}
	}
	.fa{
		font-size:15px;
	}
	.fa-chevron-left{
		margin-left: -2px;
	}
	.fa-chevron-right{
		margin-right: -2px;
	}
}
.arrow{
	text-align:center;
	background:@white;
}	
.sidebar-form{
	label{
		color:black;
	}
}
.sidebar{
	ul,
	address,
	div > p {
		margin:@grid-gutter-width;
	}
	img {
		margin-top:@grid-gutter-width;
		margin-bottom:@grid-gutter-width;;
	}
}
.sidebar-sm{
	margin:15px;
}
.separator h3{
	border-top: 1px solid @gray-lighter;
    padding-top: 15px;
}
.marge-sidebar{
	padding: 15px 15px 0 15px;
}
.btn-rechercher{
	margin-top:15px;
}
.calendrier{
	.event{
		padding:0;
		margin:0;
	}
	.intitule{
		padding-left:0;
	}
	.rounded-sm{
		padding: 4px 0 0 0px;
		@media(max-width:@screen-sm-max){
			padding: 9px 0 0 0px;
		}
		margin: 4px 0 4px 0;
	}
}