//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
//publication
// --------------------------------------------------
.carousel-publication{
	margin-top:15px; 
	h2{
		margin:0;
	}
	.item{
		background:white;
	}
	.carousel-indicators {
   		bottom: 10px; 
		z-index:200;
	}
	.picture{
		margin:0 0 @grid-gutter-width;
		padding:0;
	}
	.carousel-text{
		padding-left: @grid-gutter-width;
		color:darken(@blue,10%);
		text-shadow:none;
		font-size: (@font-size-base * 1.1);
		.btn .fa{ 
		margin-right:5px;  
		}
		h2{
			font-family:'the_sans_bold', Arial, Helvetica, sans-serif;
			font-size:25px;
			text-transform: initial;
			margin-bottom:15px;
			font-weight: normal;
		}
		.carousel-caption {
			background:@white;
		}
	
	} 
} 