.footer-social {
  margin: 15px 0 45px 0;
}
@media (max-width: 767px) {
  .footer-social {
    margin-bottom: 0;
  }
}
.footer-social h2 {
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
  display: inline-block;
  margin: 15px auto;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer-social h2 {
    font-size: 16px;
  }
}
.footer-social h2 strong {
  color: #f05923;
  font-family: the_sans_regular, Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.footer-social .btn {
  margin: 0 15px;
}
.follow {
  margin: 0;
  padding: 0;
}
.follow li {
  padding: 0;
  margin: 0 0 15px;
}
.partenaires li {
  padding: 15px;
}
footer {
  background: #34697d;
  color: #ffffff;
  padding: 15px 0;
  padding-bottom: 0;
  margin-top: 8px;
}
@media (min-width: 992px) {
  footer {
    margin-top: 15px;
  }
}
footer .navbar-default {
  margin: 15px 0;
}
footer a {
  color: #ffffff;
  text-decoration: underline;
}
footer .btn {
  text-decoration: none;
  margin-top: 15px;
}
footer .btn-default.btn-alt {
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}
footer h2 {
  font-size: 25px;
  margin: 2px 0 15px 0px;
}
footer .infos-footer {
  background: #162c35;
  color: #dbdbdb;
}
footer .infos-footer h3 {
  font-family: 'the_sans_bold';
  border-top: 2px solid #818a8f;
  border-bottom: 2px solid #818a8f;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
footer .infos-footer .fa {
  color: #f7efe2;
}
footer .infos-footer h4 {
  font-size: 18px;
  font-weight: bold;
}
footer .bottom-bar {
  background: #0f1d23;
  height: 42px;
}
footer .bottom-bar a {
  text-decoration: none;
}
footer .bottom-bar a:hover {
  color: #f7efe2;
}
footer .bottom-bar li {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
footer ul.horaires {
  padding-left: 20px;
}
footer ul.horaires li {
  list-style-type: none;
}
footer ul.horaires li:before {
  content: "?";
  padding-right: 5px;
  color: #f7efe2;
}
@media (min-width: 992px) {
  .pull-right-lg {
    float: right;
  }
}
#top-link-block {
  margin: 15px;
  right: 0;
  border: 0;
  bottom: -20px;
  position: fixed;
  transition: 0.5s;
  opacity: 0;
  z-index: 50;
}
#top-link-block .fa {
  padding-top: 5px;
  color: #ffffff;
}
#top-link-block .btn.rounded,
#top-link-block .rounded {
  background: #34697d;
}
#top-link-block.active {
  opacity: 1;
  bottom: 0;
}
