@keyframes animateCarouselImgIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateCarouselTexteIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    position: relative;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.carousel-home {
  background-color: #ffffff;
  margin: 15px 0;
}
.carousel-home .carousel-caption {
  margin: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #254b59;
  text-shadow: none;
  position: absolute;
  font-size: 16px;
}
.carousel-home .carousel-caption a {
  color: #000000;
}
.carousel-home .carousel-caption a:hover {
  color: #f05923;
}
.carousel-home .carousel-caption .badge {
  background-color: #34697d;
  color: #fff;
  position: relative;
}
.carousel-home .carousel-caption h3 {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  position: relative;
  margin: 15px 0 0 0;
  font-weight: bold;
}
@media (max-width: 767px) {
  .carousel-home .carousel-caption h3 {
    font-size: 20px;
  }
}
.carousel-home .carousel-caption p {
  position: relative;
  margin: 0;
}
@media (min-width: 992px) {
  .carousel-home .carousel-caption {
    z-index: 100;
  }
}
@media (max-width: 767px) {
  .carousel-home .carousel-caption {
    background-color: #ffffff;
    min-height: 210px;
  }
}
.carousel-home .carousel-indicators {
  bottom: -10px;
  z-index: 200;
}
.carousel-home .carousel-control .fa {
  top: 25%;
}
@media (min-width: 768px) {
  .carousel-home .carousel-control .fa {
    top: 50%;
  }
}
.carousel-home .carousel-control.left,
.carousel-home .carousel-control.right {
  background-image: none;
}
@media (min-width: 768px) {
  .carousel-home .bg {
    background: url("../../images/carrousel-caption.png") no-repeat scroll center 20px rgba(0, 0, 0, 0);
    bottom: 0;
    height: 140px;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
}
.carousel-home .carousel-inner .next.left img,
.carousel-home .carousel-inner .prev.right img {
  animation-name: animateCarouselImgIn;
  animation-duration: 2s;
}
.carousel-home .carousel-inner .next.left .badge,
.carousel-home .carousel-inner .prev.right .badge {
  animation-name: animateCarouselTexteIn;
  animation-duration: 1.5s;
}
.carousel-home .carousel-inner .next.left h3,
.carousel-home .carousel-inner .prev.right h3 {
  animation-name: animateCarouselTexteIn;
  animation-duration: 2s;
}
.carousel-home .carousel-inner .next.left p,
.carousel-home .carousel-inner .prev.right p {
  animation-name: animateCarouselTexteIn;
  animation-duration: 2.5s;
  color: #000000;
}
.zoom-sur {
  background: url("../../images/zoom-sur.png") no-repeat 0 center;
}
@media (min-width: 992px) {
  .zoom-sur {
    height: 740px;
  }
}
.zoom-sur h2 {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-bottom: 13px;
  padding-right: 30px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .zoom-sur h2 {
    padding-top: 90px;
  }
}
@keyframes animateCarouselZommTexteIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel-zoom {
  margin-bottom: 45px;
}
.carousel-zoom.carousel,
.carousel-zoom .item,
.carousel-zoom .carousel-inner {
  height: 415px;
}
@media (min-width: 768px) {
  .carousel-zoom.carousel,
  .carousel-zoom .item,
  .carousel-zoom .carousel-inner {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .carousel-zoom.carousel,
  .carousel-zoom .item,
  .carousel-zoom .carousel-inner {
    height: 460px;
  }
}
@media (min-width: 1200px) {
  .carousel-zoom.carousel,
  .carousel-zoom .item,
  .carousel-zoom .carousel-inner {
    height: 450px;
  }
}
.carousel-zoom .carousel-inner {
  box-shadow: 0 20px 40px -20px #000000;
}
.carousel-zoom .carousel-caption {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
}
@media (min-width: 992px) {
  .carousel-zoom .carousel-caption {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .carousel-zoom .carousel-caption {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .carousel-zoom .carousel-caption {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .carousel-zoom .carousel-caption {
    float: left;
    width: 33.33333333%;
  }
}
.carousel-zoom .carousel-caption:before {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  margin-left: -30%;
  width: 30%;
  content: " ";
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=1);
}
.carousel-zoom h3 {
  font-size: 30px;
  font-family: the_sans_bold, Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 15px 60px 15px 60px;
}
@media (max-width: 767px) {
  .carousel-zoom h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .carousel-zoom h3 {
    margin: 30px 60px 15px 30px;
  }
}
@media (min-width: 1200px) {
  .carousel-zoom h3 {
    margin: 90px 60px 15px 30px;
  }
}
.carousel-zoom p {
  margin: 15px 60px 15px 60px;
}
@media (min-width: 992px) {
  .carousel-zoom p {
    margin: 15px 60px 15px 0;
  }
}
.carousel-zoom .carousel-indicators {
  bottom: -45px;
}
@media (min-width: 768px) {
  .carousel-zoom .carousel-indicators {
    bottom: -45px;
  }
}
@media (min-width: 992px) {
  .carousel-zoom .carousel-indicators {
    bottom: -20px;
  }
}
@media (min-width: 1200px) {
  .carousel-zoom .carousel-indicators {
    bottom: -45px;
  }
}
.carousel-zoom .next.left img,
.carousel-zoom .prev.right img {
  animation-name: animateCarouselImgIn;
  animation-duration: 2s;
}
.carousel-zoom .next.left h3,
.carousel-zoom .prev.right h3 {
  animation-name: animateCarouselZommTexteIn;
  animation-duration: 1.5s;
}
.carousel-zoom .next.left p,
.carousel-zoom .prev.right p {
  animation-name: animateCarouselZommTexteIn;
  animation-duration: 2s;
}
.carousel-zoom .next.left .btn,
.carousel-zoom .prev.right .btn {
  animation-name: animateCarouselZommTexteIn;
  animation-duration: 2s;
}
