@media (max-width: 767px) {
  .liste-item {
    text-align: center;
  }
  .liste-item img {
    display: inline;
  }
}
.liste-item article {
  padding-bottom: 30px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid #dbdbdb;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .liste-item article {
    min-height: 315px;
  }
}
.liste-item article .visuel {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background: #f7efe2;
}
@media (min-width: 992px) {
  .liste-item article .visuel {
    padding-bottom: 40%;
    height: 0;
  }
}
.liste-item article .visuel img {
  transition: 1s;
  margin: auto;
}
.liste-item article h3,
.liste-item article h2 {
  margin-top: 8px;
  font-size: 22px;
  text-transform: none;
  font-weight: normal;
  margin-bottom: 0;
}
.liste-item article a {
  color: #000000;
}
@media (min-width: 768px) {
  .liste-item article .diapo,
  .liste-item article .sommaire {
    min-height: 190px;
  }
}
@media (min-width: 992px) {
  .liste-item article .video {
    min-height: 215px;
  }
}
@media (min-width: 768px) {
  .liste-item article .sat {
    min-height: 90px;
  }
}
.liste-item article .badge {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.liste-item article .date {
  display: block;
  font-size: 12px;
  color: #666666;
  font-style: italic;
  margin-bottom: 8px;
}
.liste-item :hover {
  border-color: #f05923;
}
.liste-item :hover a {
  color: #f05923;
}
.liste-item :hover .visuel img {
  transform: scale(1.05);
}
.liste-item :hover .badge {
  background-color: #f05923;
}
