.entete {
  background: #34697d;
  padding: 15px;
  min-height: 55px;
  margin: 0;
}
.entete h3 {
  font-family: 'the_sans_bold';
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin: 0;
}
.sidebar section {
  margin-bottom: 30px;
}
.sidebar section:last-child {
  margin-bottom: 0;
}
.sidebar section h4 {
  padding: 8px 15px 0 15px;
}
.sidebar section .today .btn {
  background-color: #f05923;
}
.sidebar section .checkbox.active {
  color: #f05923;
}
.calendar h3 {
  margin-top: 4px;
}
@media (max-width: 991px) {
  .calendar h3 {
    margin-top: 8px;
  }
}
.calendar .fa {
  font-size: 15px;
}
.calendar .fa-chevron-left {
  margin-left: -2px;
}
.calendar .fa-chevron-right {
  margin-right: -2px;
}
.arrow {
  text-align: center;
  background: #ffffff;
}
.sidebar-form label {
  color: black;
}
.sidebar ul {
  margin: 15px;
}
.sidebar img {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sidebar-sm {
  margin: 15px;
}
.separator h3 {
  border-top: 1px solid #dbdbdb;
  padding-top: 15px;
}
.marge-sidebar {
  padding: 15px 15px 0 15px;
}
.btn-rechercher {
  margin-top: 15px;
}
.calendrier .event {
  padding: 0;
  margin: 0;
}
.calendrier .intitule {
  padding-left: 0;
}
.calendrier .rounded-sm {
  padding: 4px 0 0 0px;
  margin: 4px 0 4px 0;
}
@media (max-width: 991px) {
  .calendrier .rounded-sm {
    padding: 9px 0 0 0px;
  }
}
