@media (min-width: 1200px) {
  .quicklink {
    padding: 15px 0 0 0;
    margin-bottom: 15px;
  }
}
.quicklink .well {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: none;
  background-color: #f7efe2;
  border: none;
  transition: 0.5s;
  box-shadow: none;
}
@media (min-width: 1200px) {
  .quicklink li:nth-child(1) .btn,
  .quicklink li:nth-child(2) .btn,
  .quicklink li:nth-child(3) .btn,
  .quicklink li:nth-child(4) .btn {
    border-bottom: 2px solid #dbdbdb;
  }
}
.quicklink li:nth-child(1) .btn:hover,
.quicklink li:nth-child(2) .btn:hover,
.quicklink li:nth-child(3) .btn:hover,
.quicklink li:nth-child(4) .btn:hover {
  border-color: #f05923;
}
.quicklink .dashboard {
  margin-bottom: 30px;
}
.quicklink .dashboard li .btn {
  border: none;
}
.quicklink .btn {
  display: block;
  padding: 10px 0 ;
  margin: 5px 15px;
  line-height: 17.5px;
  min-height: 100px;
  box-sizing: padding-box;
  text-transform: uppercase;
  background-color: transparent;
}
.quicklink .btn:hover,
.quicklink .btn:focus {
  color: #ffffff;
}
.quicklink .btn .fa {
  transition: 0.25s;
  font-size: 20px;
  margin-bottom: 8px;
  background-color: #34697d;
  color: #ffffff;
  padding: 10px;
  width: 42px;
  height: 42px;
  display: inline-block;
}
.quicklink .btn:hover .fa {
  background-color: #ffffff;
  color: #f05923;
}
.quicklink .btn .inverse {
  transition: 0.25s;
  font-size: 20px;
  margin-bottom: 8px;
  background-color: #ffffff;
  color: #34697d;
  padding: 10px;
  width: 42px;
  height: 42px;
  display: inline-block;
}
.quicklink .btn:hover .inverse {
  background-color: #ffffff;
  color: #f05923;
}
.quicklink li:last-child .btn {
  margin: 0;
  width: 100%;
  background-color: #34697d;
  min-height: 115px;
}
.quicklink li:last-child .btn:hover {
  color: #ffffff;
  background-color: #f05923;
}
.quicklink ul.dropdown-menu {
  background-color: #34697d;
  margin: 0 0 0 7px;
  padding: 0;
  box-shadow: none;
}
.quicklink ul.dropdown-menu > li > a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
  background-image: none;
}
.quicklink ul.dropdown-menu > li > a:hover {
  background-color: #f05923;
  color: #ffffff;
}
.quicklink ul.dropdown-menu > li:last-child > a {
  border: none;
}
