.mega-menu .nav,
.mega-menu .collapse,
.mega-menu .dropup,
.mega-menu .dropdown {
  position: static;
}
.mega-menu .dropdown-menu {
  top: auto;
  width: 100%;
  left: 50%;
}
@media (min-width: 992px) {
  .mega-menu .dropdown-menu {
    margin-left: -470px;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .mega-menu .dropdown-menu {
    margin-left: -570px;
    width: 1140px;
  }
}
.mega-menu.mega-menu-full .dropdown-menu {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
}
