.main-nav .navbar-form {
  padding: 7.5px 7.5px 7.5px 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.main-nav .navbar-form .form-control {
  display: inline-block;
}
.main-nav .navbar-form .btn {
  position: absolute;
  right: 7.5px;
  top: 5px;
}
.navbar-toggle {
  background-color: #34697d;
  transition: 0.25s;
  border-radius: 0;
  padding: 4px;
  height: 50px;
  width: 50px;
  margin: 9px 15px 0 0;
  float: left;
}
.navbar-toggle .icon-bar {
  width: 35px;
  margin: 0;
  position: absolute;
  border: 1px solid #ffffff;
  top: 0;
  left: 7px;
  transition: 0.25s;
}
.navbar-toggle .icon-bar-1 {
  top: 13px;
}
.navbar-toggle .icon-bar-2 {
  top: 20px;
}
.navbar-toggle .icon-bar-3 {
  top: 30px;
}
.navbar-toggle:not(.collapsed) {
  background-color: #f05923;
}
.navbar-toggle:not(.collapsed) .icon-bar-1 {
  transform: rotate(45deg);
  top: 23px;
}
.navbar-toggle:not(.collapsed) .icon-bar-2 {
  opacity: 0;
}
.navbar-toggle:not(.collapsed) .icon-bar-3 {
  transform: rotate(-45deg);
  top: 20px;
}
.brand {
  font-weight: normal;
  line-height: normal;
  display: block;
  font-size: 30px;
  margin: 15px 0 0 0;
  font-family: the_sans_light, Arial, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .brand {
    height: 50px;
    margin: 0;
    line-height: 2.1;
  }
}
@media (max-width: 767px) {
  .brand {
    line-height: 1;
    padding-top: 17px;
  }
}
@media (max-width: 350px) {
  .brand {
    line-height: 1.5;
    font-size: 20px;
  }
}
.brand strong {
  font-family: the_sans_bold, Arial, Helvetica, sans-serif;
  font-weight: 900;
}
@media (min-width: 992px) {
  .brand strong {
    font-size: 45px;
  }
}
.brand a {
  color: #000000;
  text-transform: none;
}
.search {
  padding-top: 15px;
  color: red;
}
.navbar-collapse {
  padding: 0;
  border: none;
}
.navbar-default.sub-nav {
  background-color: #f7efe2;
  height: 27px;
}
.navbar-default.sub-nav .navbar-nav > li > a {
  padding-bottom: 5px;
  padding-top: 2px;
  font-size: 13px;
}
.navbar-default.sub-nav .navbar-nav > li > a:hover {
  color: #ffffff;
}
@media (max-width: 991px) {
  .navbar-default.sub-nav {
    text-align: center;
  }
  .navbar-default.sub-nav li {
    display: inline;
  }
  .navbar-default.sub-nav li a {
    display: inline;
  }
}
.navbar-default.sub-nav .navbar-form {
  margin: 5px 0 ;
}
.navbar-default.sub-nav .navbar-form .form-control {
  height: 25px;
}
.navbar-default.sub-nav .navbar-form .btn {
  padding: 2px 8px;
}
.navbar-default {
  background-color: #ffffff;
  box-shadow: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #234654 0%, #274f5e 100%);
  background-image: -o-linear-gradient(top, #234654 0%, #274f5e 100%);
  background-image: linear-gradient(to bottom, #234654 0%, #274f5e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff234654', endColorstr='#ff274f5e', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}
.navbar-inverse {
  background-color: #ffffff;
  border-radius: 0;
  font-family: 'the_sans_regular', Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #dbdbdb;
}
@media (min-width: 992px) {
  .navbar-inverse {
    margin-top: 15px;
    border-top: 2px solid #dbdbdb;
  }
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .open > a {
  background-image: none;
}
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #f05923;
  box-shadow: none;
}
.navbar-inverse .navbar-nav.main-nav > .open > a,
.navbar-inverse .navbar-nav.main-nav > .open:hover > a {
  background-color: #34697d;
  color: #ffffff;
}
.navbar-inverse .navbar-nav.main-nav > .open > a:after,
.navbar-inverse .navbar-nav.main-nav > .open:hover > a:after {
  display: none;
}
.navbar-inverse .navbar-nav.main-nav > .open > a:before,
.navbar-inverse .navbar-nav.main-nav > .open:hover > a:before {
  border-color: #34697d;
}
.navbar-inverse .navbar-nav.main-nav > li > a {
  font-size: 18px;
  padding: 11px 34px;
}
@media (min-width: 992px) {
  .navbar-inverse .navbar-nav.main-nav > li > a:after {
    border-right: 2px solid #dbdbdb;
    position: absolute;
    right: 0;
    height: 19px;
    top: 12px;
    display: block;
    content: " ";
  }
  .navbar-inverse .navbar-nav.main-nav > li > a:before {
    border-left: 2px solid transparent;
    transition: 0.25s;
    position: absolute;
    left: -2px;
    height: 100%;
    top: 0;
    display: block;
    content: " ";
  }
}
@media (max-width: 1199px) {
  .navbar-inverse .navbar-nav.main-nav > li > a {
    padding: 11px 19px;
  }
}
.navbar-inverse .navbar-nav.main-nav > li > a .fa-chevron-down {
  font-size: 10px;
  position: relative;
  top: -2px;
}
.navbar-inverse .navbar-nav.main-nav > li:first-child > a {
  background-color: #f05923;
  color: #ffffff;
  padding: 11px 15px;
}
.navbar-inverse .navbar-nav.main-nav > li:first-child > a:after {
  border: none;
}
.navbar-inverse .navbar-nav.main-nav > li:last-child > a:after {
  border: none;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
  background-color: #34697d;
  border: none;
}
.navbar-inverse .sub-menu {
  list-style-type: none;
  padding: 15px 0 30px 0;
}
.navbar-inverse .sub-menu li {
  padding: 0;
}
@media (max-width: 767px) {
  .navbar-inverse .sub-menu li {
    margin-left: 15px;
  }
}
.navbar-inverse .sub-menu > li > a {
  color: #ffffff;
  padding: 16px 0 0 0;
  font-size: 18px;
  border-bottom: 2px solid #ffffff;
  display: block;
  margin-right: 15px;
  padding-bottom: 8px;
}
.navbar-inverse .sub-menu li a.active,
.navbar-inverse .sub-menu li a:hover {
  background-color: #f05923;
  padding-left: 30px;
  transition: 0.25s;
}
.navbar-inverse .sub-menu li a.active::before,
.navbar-inverse .sub-menu li a:hover::before {
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f054";
  position: absolute;
  left: 10px;
  margin: 6px 0 0 0;
}
.navbar-inverse .navbar-search {
  color: #fff;
  height: 35px;
  padding: 0;
  width: 46px;
}
.navbar-nav {
  margin: 0;
}
.main-nav .territoires .well {
  margin: 30px 0 0 0;
  padding: 15px;
}
.main-nav .territoires path {
  transition: 0.25s;
  stroke: #ffffff;
  stroke-width: 2;
  fill: #dbdbdb;
  cursor: pointer;
}
.main-nav .territoires path#loire {
  fill: #34697d;
}
.main-nav .territoires path.active {
  fill: #f05923;
  z-index: 100;
}
.main-nav .territoires .btn-default {
  color: #ffffff;
  border-color: #ffffff;
}
.main-nav .territoires .btn-default:hover {
  border-color: #f05923;
}
.map {
  padding: 15px;
}
.map svg {
  height: 395px;
}
.main-nav li.search {
  border-bottom: 2px solid #dbdbdb;
  padding-top: 0;
}
.collapse.in .main-nav,
.collapsing .main-nav {
  background-color: #ededed;
}
@media (max-width: 991px) {
  .collapse.in .main-nav,
  .collapsing .main-nav {
    border-top: 2px solid #f05923;
  }
}
.bloc-sous-menu {
  background: #ffffff;
  border: none;
  margin: 15px 0px 30px 0;
}
.bloc-sous-menu .h2 {
  font-family: 'the_sans_bold';
  font-size: 20px;
  padding: 15px 0 0 15px;
}
.bloc-sous-menu ul {
  font-size: 15px;
}
.bloc-sous-menu .fa {
  padding-right: 10px;
}
.bloc-sous-menu li {
  margin: 0 15px 0 15px;
  border-top: 1px solid #dbdbdb;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding-left: 0;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
  }
}
ul#socials {
  margin: 26px 0 0 0px;
}
@media (max-width: 991px) {
  ul#socials {
    margin: 10px 0 5px;
  }
}
.navbar-form {
  width: 100%;
  padding-top: 15px;
  border: none;
}
.navbar-form .form-control {
  border: none;
  border-left: 1px solid #dbdbdb;
  padding: 0 0 0 8px;
  font-style: italic;
  box-shadow: none;
}
@media (min-width: 992px) {
  .navbar-form .form-control {
    width: 170px;
  }
}
@media (min-width: 1200px) {
  .navbar-form .form-control {
    width: 224px;
  }
}
.navbar-form .btn.rounded-sm,
.navbar-form .rounded-sm {
  padding-top: 3px;
}
