.carousel-publication {
  margin-top: 15px;
}
.carousel-publication h2 {
  margin: 0;
}
.carousel-publication .item {
  background: white;
}
.carousel-publication .carousel-indicators {
  bottom: 10px;
  z-index: 200;
}
.carousel-publication .picture {
  margin: 0 0 15px;
  padding: 0;
}
.carousel-publication .carousel-text {
  padding-left: 15px;
  color: #254b59;
  text-shadow: none;
  font-size: 15.4px;
}
.carousel-publication .carousel-text .btn .fa {
  margin-right: 5px;
}
.carousel-publication .carousel-text h2 {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-transform: initial;
  margin-bottom: 15px;
  font-weight: normal;
}
.carousel-publication .carousel-text .carousel-caption {
  background: #ffffff;
}
