.header-article .date {
  display: block;
  font-size: 14px;
  color: #666666;
  font-style: italic;
}
.header-article h1 {
  padding-bottom: 0;
}
.header-article .badge {
  position: absolute;
}
.accroche {
  margin-bottom: 30px;
}
.accroche .diapo {
  padding-bottom: 0;
}
.accroche .video {
  padding-top: 15px;
  margin: 0;
  font-size: 14px;
}
.accroche .video h2 {
  margin-top: 0;
}
.accroche .video .date {
  font-size: 12px;
  color: #666666;
  font-style: italic;
}
.texte-accroche {
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 300;
  border-left: 2px solid #34697d;
  margin: 15px 0 0 0;
  padding: 0 0 15px 15px;
  line-height: 1.2;
  text-transform: none;
}
.infos-formulaire {
  font-family: 'Roboto';
  font-weight: 100;
  border-left: 2px solid #34697d;
  margin: 10px 0 0 0;
  padding-left: 15px;
}
.legend {
  color: #818a8f;
  font-style: italic;
  font-family: 'Roboto';
  font-weight: 100;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 15px;
}
.rteContent p {
  font-size: 15px;
}
.block-special {
  background: url("../../images/block-special.png") no-repeat left bottom #ededed;
  background-size: 100% auto;
  padding: 15px 15px 30px;
  border-top: 2px solid #34697d;
  margin-bottom: 30px;
}
.block-special h2 {
  color: #34697d;
  margin-top: 0;
}
.dropdown-social {
  font-weight: bold;
  color: #000000;
}
@media (min-width: 992px) {
  .dropdown-social {
    margin-top: 5px;
  }
}
@media (max-width: 1199px) {
  .dropdown-social .fa.rounded-sm {
    padding: 13px 2px 0 0;
  }
}
@media (min-width: 992px) {
  .dropdown-social .fa.rounded-sm {
    padding: 8px 2px 0 0;
  }
}
.dropdown-social ul.dropdown-menu {
  min-width: 100px;
  background-color: #34697d;
  margin: 0 6px 0 7px;
  padding: 0;
  box-shadow: none;
}
.dropdown-social ul.dropdown-menu > li > a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px 10px 10px 10px;
  background-image: none;
}
.dropdown-social ul.dropdown-menu > li > a:hover {
  background-color: #f05923;
  color: #ffffff;
}
.dropdown-social ul.dropdown-menu > li:last-child > a {
  border: none;
}
