.dashboard .facture,
.formulaire .facture,
.widget .facture {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.dashboard a.tab-form,
.formulaire a.tab-form,
.widget a.tab-form {
  color: #000000;
}
.dashboard .panel.panel-default .panel-heading,
.formulaire .panel.panel-default .panel-heading,
.widget .panel.panel-default .panel-heading {
  background: #f5f5f5;
}
.dashboard .panel .panel-heading,
.formulaire .panel .panel-heading,
.widget .panel .panel-heading {
  box-shadow: inset 0 0 1px 1px #fff;
  border-radius: 0;
  border-bottom: 1px solid #d4d4d4;
  padding: 15px;
}
.dashboard .panel .panel-heading #myTab,
.formulaire .panel .panel-heading #myTab,
.widget .panel .panel-heading #myTab {
  margin: 0;
}
.dashboard .panel .panel-heading ul,
.formulaire .panel .panel-heading ul,
.widget .panel .panel-heading ul {
  display: inline-block;
}
.dashboard .panel .panel-heading ul li a,
.formulaire .panel .panel-heading ul li a,
.widget .panel .panel-heading ul li a {
  background: none;
  opacity: 0.3;
  padding: 0 30px 0 0;
}
@media (max-width: 767px) {
  .dashboard .panel .panel-heading ul li a,
  .formulaire .panel .panel-heading ul li a,
  .widget .panel .panel-heading ul li a {
    padding: 0 15px 0 0;
  }
}
.dashboard .panel .panel-heading ul li a:hover,
.formulaire .panel .panel-heading ul li a:hover,
.widget .panel .panel-heading ul li a:hover,
.dashboard .panel .panel-heading ul li a:focus,
.formulaire .panel .panel-heading ul li a:focus,
.widget .panel .panel-heading ul li a:focus,
.dashboard .panel .panel-heading ul li a:active,
.formulaire .panel .panel-heading ul li a:active,
.widget .panel .panel-heading ul li a:active {
  background: none;
  opacity: 1;
}
.dashboard .panel .panel-heading ul li.active a,
.formulaire .panel .panel-heading ul li.active a,
.widget .panel .panel-heading ul li.active a {
  opacity: 1;
}
.dashboard .panel .panel-heading h3,
.formulaire .panel .panel-heading h3,
.widget .panel .panel-heading h3 {
  margin: 0;
  padding-top: 0;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 767px) {
  .dashboard .panel .panel-heading h3,
  .formulaire .panel .panel-heading h3,
  .widget .panel .panel-heading h3 {
    font-size: 15px;
    padding-top: 18px;
  }
}
.dashboard .panel .panel-heading h3 .highlight,
.formulaire .panel .panel-heading h3 .highlight,
.widget .panel .panel-heading h3 .highlight {
  color: #f05923;
  font-style: italic;
}
.dashboard .panel .panel-heading .panel-actions,
.formulaire .panel .panel-heading .panel-actions,
.widget .panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  border-left: 1px solid white;
  font-size: 0;
}
.dashboard .panel .panel-heading .panel-actions h4,
.formulaire .panel .panel-heading .panel-actions h4,
.widget .panel .panel-heading .panel-actions h4 {
  display: inline-block;
  border-left: 1px solid #d4d4d4;
  text-align: center;
  box-shadow: inset 0 0 1px 1px #fff;
  margin: 0;
  padding: 0 15px;
  font-weight: bold;
  font-size: 14px;
}
.dashboard .panel-body h3,
.formulaire .panel-body h3,
.widget .panel-body h3 {
  margin: 0;
}
.dashboard .panel-body .tab-content,
.formulaire .panel-body .tab-content,
.widget .panel-body .tab-content {
  padding: 0;
}
.dashboard .panel-body .table,
.formulaire .panel-body .table,
.widget .panel-body .table {
  margin-bottom: 0;
}
.dashboard .panel-body .table .payer,
.formulaire .panel-body .table .payer,
.widget .panel-body .table .payer {
  color: #f05923;
}
.dashboard .panel-body .table th,
.formulaire .panel-body .table th,
.widget .panel-body .table th {
  font-size: 15px;
}
