@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@font-face {
  font-family: 'the_sans_regular';
  src: url('../fonts/thesans_b5_plain-webfont.eot');
  src: url('../fonts/thesans_b5_plain-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesans_b5_plain-webfont.woff2') format('woff2'), url('../fonts/thesans_b5_plain-webfont.woff') format('woff'), url('../fonts/thesans_b5_plain-webfont.ttf') format('truetype'), url('../fonts/thesans_b5_plain-webfont.svg#thesansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_light';
  src: url('../fonts/thesans_light_plain-webfont.eot');
  src: url('../fonts/thesans_light_plain-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesans_light_plain-webfont.woff2') format('woff2'), url('../fonts/thesans_light_plain-webfont.woff') format('woff'), url('../fonts/thesans_light_plain-webfont.ttf') format('truetype'), url('../fonts/thesans_light_plain-webfont.svg#the_sans_light-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_sans_bold';
  src: url('../fonts/thesans_b8_extrabold-webfont.eot');
  src: url('../fonts/thesans_b8_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/thesans_b8_extrabold-webfont.woff2') format('woff2'), url('../fonts/thesans_b8_extrabold-webfont.woff') format('woff'), url('../fonts/thesans_b8_extrabold-webfont.ttf') format('truetype'), url('../fonts/thesans_b8_extrabold-webfont.svg#thesansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
h1 {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
}
hr {
  border: 1px solid #dbdbdb;
}
p {
  margin: 0 0 20px;
}
.btn-alt {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  line-height: 1.5;
}
.btn-group-lg > .btn,
.btn-lg,
.btn-default,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: none;
  border: 0;
  border-radius: 0;
  transition: 0.25s;
}
.btn-group-lg > .btn:hover,
.btn-lg:hover,
.btn-default:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-info:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-group-lg > .btn:focus,
.btn-lg:focus,
.btn-default:focus,
.btn-primary:focus,
.btn-secondary:focus,
.btn-success:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus {
  color: #fff;
}
.btn-group-lg > .btn .badge,
.btn-lg .badge,
.btn-default .badge,
.btn-primary .badge,
.btn-secondary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn-default {
  border-color: #e8d0aa;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #f05923;
}
.btn-default:active,
.btn-default.active {
  background-color: #ead5b2;
  border-color: #e8d0aa;
}
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #ead5b2;
}
.btn-primary {
  border-color: #1f3f4b;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #f05923;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #224552;
  border-color: #1f3f4b;
}
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #224552;
}
.btn-secondary {
  border-color: #bf3c0d;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #f05923;
}
.btn-secondary:active,
.btn-secondary.active {
  background-color: #c83f0e;
  border-color: #bf3c0d;
}
.btn-secondary:disabled,
.btn-secondary[disabled] {
  background-color: #c83f0e;
}
.btn-success {
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #f05923;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
}
.btn-info {
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #f05923;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #2aabd2;
}
.btn-warning {
  border-color: #bf3c0d;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #f05923;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c83f0e;
  border-color: #bf3c0d;
}
.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #c83f0e;
}
.btn-danger {
  border-color: #850000;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #f05923;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #8f0000;
  border-color: #850000;
}
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #8f0000;
}
.btn-default.btn-alt {
  background-color: transparent;
  border: 1px solid #34697d;
  color: #34697d;
}
.btn-default.btn-alt:hover,
.btn-default.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-default.btn-alt:active,
.btn-default.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-default.btn-alt:disabled,
.btn-default.btn-alt[disabled] {
  background-color: #224552;
}
.btn-primary.btn-alt {
  background-color: transparent;
  border: 1px solid #34697d;
  color: #34697d;
}
.btn-primary.btn-alt:hover,
.btn-primary.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-primary.btn-alt:active,
.btn-primary.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-primary.btn-alt:disabled,
.btn-primary.btn-alt[disabled] {
  background-color: #224552;
}
.btn-secondary.btn-alt {
  background-color: transparent;
  border: 1px solid #f05923;
  color: #f05923;
}
.btn-secondary.btn-alt:hover,
.btn-secondary.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-secondary.btn-alt:active,
.btn-secondary.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-secondary.btn-alt:disabled,
.btn-secondary.btn-alt[disabled] {
  background-color: #c83f0e;
}
.btn-success.btn-alt {
  background-color: transparent;
  border: 1px solid #5cb85c;
  color: #5cb85c;
}
.btn-success.btn-alt:hover,
.btn-success.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-success.btn-alt:active,
.btn-success.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-success.btn-alt:disabled,
.btn-success.btn-alt[disabled] {
  background-color: #419641;
}
.btn-info.btn-alt {
  background-color: transparent;
  border: 1px solid #5bc0de;
  color: #5bc0de;
}
.btn-info.btn-alt:hover,
.btn-info.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-info.btn-alt:active,
.btn-info.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-info.btn-alt:disabled,
.btn-info.btn-alt[disabled] {
  background-color: #2aabd2;
}
.btn-warning.btn-alt {
  background-color: transparent;
  border: 1px solid #f05923;
  color: #f05923;
}
.btn-warning.btn-alt:hover,
.btn-warning.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-warning.btn-alt:active,
.btn-warning.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-warning.btn-alt:disabled,
.btn-warning.btn-alt[disabled] {
  background-color: #c83f0e;
}
.btn-danger.btn-alt {
  background-color: transparent;
  border: 1px solid #cc0000;
  color: #cc0000;
}
.btn-danger.btn-alt:hover,
.btn-danger.btn-alt:focus {
  background-color: #f05923;
  border-color: #f05923;
  color: #ffffff;
}
.btn-danger.btn-alt:active,
.btn-danger.btn-alt.active {
  background-color: #f05923;
  color: #ffffff;
}
.btn-danger.btn-alt:disabled,
.btn-danger.btn-alt[disabled] {
  background-color: #8f0000;
}
.btn.rounded,
.rounded {
  border-radius: 100%;
  text-align: center;
  height: 40px;
  width: 40px;
}
.btn.rounded-lg,
.rounded-lg {
  border-radius: 100%;
  text-align: center;
  width: 80px;
  height: 80px;
}
.btn.rounded-lg .fa,
.rounded-lg .fa {
  margin-top: 15px;
}
.btn.rounded-sm,
.rounded-sm {
  border-radius: 100%;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 5px 0 0 1px;
}
@media (max-width: 991px) {
  .btn.rounded-sm,
  .rounded-sm {
    height: 40px;
    width: 40px;
    padding-top: 10px;
  }
}
/*
.centre{
	padding-left: 2px;
	@media(max-width:@screen-sm-max){
		padding-left: 5px;
	}
}
*/
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #f05923;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #34697d 0%, #2d5a6b 100%);
  background-image: -o-linear-gradient(top, #34697d 0%, #2d5a6b 100%);
  background-image: linear-gradient(to bottom, #34697d 0%, #2d5a6b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34697d', endColorstr='#ff2d5a6b', GradientType=0);
  background-color: #2d5a6b;
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  margin: 15px 15px 0 15px;
  padding: 0 0 5px 0;
  border-bottom: none;
  min-height: 16.5px;
  text-align: center;
  border-bottom: 2px solid #dbdbdb;
}
.modal-footer {
  padding: 15px 0 0;
  margin: 0 15px 15px;
  /* text-align: right; */
  border-top: 2px solid #dbdbdb;
}
.modal-footer .rounded.fa {
  margin-top: 8px;
}
.modal-footer span.fa {
  margin-top: 7px;
}
.modal-footer p {
  margin-top: 8px;
  margin-bottom: 10px;
}
.alert {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  font-family: 'Roboto';
  font-size: 21px;
}
.alert-success {
  background-image: -webkit-linear-gradient(top, rgba(92, 184, 92, 0.5) 0%, rgba(72, 166, 72, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(92, 184, 92, 0.5) 0%, rgba(72, 166, 72, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(92, 184, 92, 0.5) 0%, rgba(72, 166, 72, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805cb85c', endColorstr='#8048a648', GradientType=0);
  border-color: rgba(61, 139, 61, 0.5);
  border-left: 2px solid rgba(61, 139, 61, 0.5);
}
.alert-info {
  background-image: -webkit-linear-gradient(top, rgba(91, 192, 222, 0.5) 0%, rgba(59, 180, 216, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(91, 192, 222, 0.5) 0%, rgba(59, 180, 216, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(91, 192, 222, 0.5) 0%, rgba(59, 180, 216, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805bc0de', endColorstr='#803bb4d8', GradientType=0);
  border-color: rgba(40, 161, 197, 0.5);
  border-left: 2px solid rgba(40, 161, 197, 0.5);
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, rgba(240, 89, 35, 0.5) 0%, rgba(222, 70, 15, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(240, 89, 35, 0.5) 0%, rgba(222, 70, 15, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(240, 89, 35, 0.5) 0%, rgba(222, 70, 15, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80f05923', endColorstr='#80de460f', GradientType=0);
  border-color: rgba(186, 58, 13, 0.5);
  border-left: 2px solid rgba(186, 58, 13, 0.5);
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, rgba(204, 0, 0, 0.5) 0%, rgba(166, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(204, 0, 0, 0.5) 0%, rgba(166, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(204, 0, 0, 0.5) 0%, rgba(166, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80cc0000', endColorstr='#80a60000', GradientType=0);
  border-color: rgba(128, 0, 0, 0.5);
  border-left: 2px solid rgba(128, 0, 0, 0.5);
}
.alert h2 {
  margin-top: 0;
}
.has-success .fa {
  padding-right: 15px;
  color: #5cb85c;
}
.has-success .control-label,
.has-success .form-control {
  border-color: #a5e046;
  color: #5cb85c;
}
.has-error .fa {
  padding-right: 15px;
  color: #cc0000;
}
.has-error .control-label,
.has-error .form-control {
  border-color: #990000;
  color: #cc0000;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #34697d 0%, #254b59 100%);
  background-image: -o-linear-gradient(top, #34697d 0%, #254b59 100%);
  background-image: linear-gradient(to bottom, #34697d 0%, #254b59 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34697d', endColorstr='#ff254b59', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f05923 0%, #d2420e 100%);
  background-image: -o-linear-gradient(top, #f05923 0%, #d2420e 100%);
  background-image: linear-gradient(to bottom, #f05923 0%, #d2420e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff05923', endColorstr='#ffd2420e', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: -o-linear-gradient(top, #cc0000 0%, #990000 100%);
  background-image: linear-gradient(to bottom, #cc0000 0%, #990000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc0000', endColorstr='#ff990000', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-image: -webkit-linear-gradient(top, #34697d 0%, #295262 100%);
  background-image: -o-linear-gradient(top, #34697d 0%, #295262 100%);
  background-image: linear-gradient(to bottom, #34697d 0%, #295262 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34697d', endColorstr='#ff295262', GradientType=0);
  border-color: #295262;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.nav.nav-stacked > li > a:focus,
.nav.nav-stacked > li > a:hover {
  color: #ffffff;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #34697d 0%, #2d5a6b 100%);
  background-image: -o-linear-gradient(top, #34697d 0%, #2d5a6b 100%);
  background-image: linear-gradient(to bottom, #34697d 0%, #2d5a6b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff34697d', endColorstr='#ff2d5a6b', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, rgba(92, 184, 92, 0.5) 0%, rgba(76, 174, 76, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(92, 184, 92, 0.5) 0%, rgba(76, 174, 76, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(92, 184, 92, 0.5) 0%, rgba(76, 174, 76, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805cb85c', endColorstr='#804cae4c', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, rgba(91, 192, 222, 0.5) 0%, rgba(70, 184, 218, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(91, 192, 222, 0.5) 0%, rgba(70, 184, 218, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(91, 192, 222, 0.5) 0%, rgba(70, 184, 218, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805bc0de', endColorstr='#8046b8da', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, rgba(240, 89, 35, 0.5) 0%, rgba(234, 73, 16, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(240, 89, 35, 0.5) 0%, rgba(234, 73, 16, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(240, 89, 35, 0.5) 0%, rgba(234, 73, 16, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80f05923', endColorstr='#80ea4910', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, rgba(204, 0, 0, 0.5) 0%, rgba(179, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(204, 0, 0, 0.5) 0%, rgba(179, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(204, 0, 0, 0.5) 0%, rgba(179, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80cc0000', endColorstr='#80b30000', GradientType=0);
}
.well {
  margin: 15px 0 30px 0;
  padding: 0;
  background: #f7efe2;
}
.well .form-group {
  margin: 15px;
  color: #34697d;
}
.well .nav li a:hover,
.well .nav li a:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #f05923;
  padding-left: 30px;
  transition: 0.25s;
}
.well .nav > li > a {
  padding: 5px 0;
}
.well .nav > li > a:hover,
.well .nav > li > a:active {
  padding-left: 15px;
}
.well.base {
  padding: 30px;
  margin: 0 0 15px;
}
.breadcrumb {
  background: none;
  padding: 12px 0 0 0;
  margin: 0;
}
.breadcrumb a {
  text-decoration: underline;
}
a {
  transition: 0.25s;
}
#jumbotron h3,
.carousel h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 28px;
}
.carousel .carousel-control .fa {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  margin-top: -10px;
}
@media (min-width: 768px) {
  .carousel .carousel-control .fa {
    top: 50%;
  }
}
.carousel,
.carousel-inner,
.carousel .item {
  height: 340px;
  margin-bottom: 30px;
}
@media (min-width: 400px) {
  .carousel,
  .carousel-inner,
  .carousel .item {
    height: 450px;
  }
}
@media (min-width: 768px) {
  .carousel,
  .carousel-inner,
  .carousel .item {
    height: 405px;
  }
}
@media (min-width: 992px) {
  .carousel,
  .carousel-inner,
  .carousel .item {
    height: 490px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .carousel,
  .carousel-inner,
  .carousel .item {
    height: 450px;
  }
}
.carousel-control,
.ads-com-carousel-slide .carousel-control.left,
.ads-com-carousel-slide .carousel-control.right {
  width: 50px;
  background-image: none;
}
.carousel-indicators li,
.carousel-indicators li.active,
.ads-com-carousel-slide .carousel-indicators li,
.ads-com-carousel-slide .carousel-indicators li.active {
  border: none;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
}
@media (max-width: 991px) {
  .carousel-indicators li,
  .carousel-indicators li.active,
  .ads-com-carousel-slide .carousel-indicators li,
  .ads-com-carousel-slide .carousel-indicators li.active {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 3.75px;
  }
}
.carousel-publication,
.carousel-publication .carousel-inner,
.carousel-publication .carousel .item {
  height: 780px;
}
@media (min-width: 424px) {
  .carousel-publication,
  .carousel-publication .carousel-inner,
  .carousel-publication .carousel .item {
    height: 805px;
  }
}
@media (min-width: 768px) {
  .carousel-publication,
  .carousel-publication .carousel-inner,
  .carousel-publication .carousel .item {
    height: 365px;
  }
}
@media (min-width: 992px) {
  .carousel-publication,
  .carousel-publication .carousel-inner,
  .carousel-publication .carousel .item {
    height: 305px;
  }
}
@media (min-width: 1200px) {
  .carousel-publication,
  .carousel-publication .carousel-inner,
  .carousel-publication .carousel .item {
    height: 400px;
  }
}
.nav-tabs {
  border-bottom: 2px solid #dbdbdb;
  margin-top: 8px;
}
@media (max-width: 1199px) {
  .nav-tabs {
    margin-top: 30px;
  }
}
.nav-tabs > li {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .nav-tabs > li {
    float: none;
  }
}
@media (min-width: 768px) {
  .nav-tabs > li {
    margin-right: 75px;
  }
}
.nav-tabs > li > a {
  font-size: 20px;
  font-family: 'the_sans_regular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  border: none;
  padding: 0;
  display: inline-block;
  transition: 0s;
  height: 35px;
}
@media (max-width: 767px) {
  .nav-tabs > li > a {
    margin-bottom: 8px;
  }
}
.nav-tabs > li > a:hover {
  background: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
  border: none;
  transform: scale(1.25);
  transform-origin: center bottom;
  border-bottom: 2px solid #f05923;
  top: 1px;
  color: black;
}
@media (max-width: 767px) {
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    transform-origin: left bottom;
  }
}
.nav-tabs > li:first-child.active > a,
.nav-tabs > li:first-child.active > a:hover,
.nav-tabs > li:first-child.active > a:focus {
  transform-origin: 0 bottom;
}
.tab-content {
  padding: 15px 0;
}
#myTab > li.active > a {
  font-weight: 700;
}
.programme {
  padding: 15px;
}
article h2 {
  margin-top: 40px;
}
article h3 {
  margin-top: 30px;
}
article .exhibit h3 {
  margin-top: 0;
}
article .exhibit li {
  margin-bottom: 8px;
}
article .exhibit .fa {
  margin-right: 5px;
}
article .exhibit p + ul {
  margin-top: -10px;
}
.thumbnail .exhibit {
  padding: 0 15px;
}
.actu h1,
.agenda h1,
.connexion h1,
.diapo h1,
.asso h1,
.edit h1,
.dashboard h1,
.sommaire h1,
.video h1,
.formulaire h1,
.publication h1 {
  font-size: 30px;
  color: #000000;
  margin: 0;
  padding: 15px 0 20px 0;
  font-weight: 700;
}
@media (max-width: 767px) {
  .actu h1,
  .agenda h1,
  .connexion h1,
  .diapo h1,
  .asso h1,
  .edit h1,
  .dashboard h1,
  .sommaire h1,
  .video h1,
  .formulaire h1,
  .publication h1 {
    padding-top: 30px;
  }
}
.satellite h1 {
  font-size: 25px;
  color: #000000;
  margin: 0px 0 15px 0;
  padding: 0px 0 7px 0;
  font-weight: 700;
  border-bottom: 2px solid #dbdbdb;
}
@media (max-width: 767px) {
  .satellite h1 {
    padding-top: 30px;
  }
}
.couverture {
  margin-top: 0;
}
.badge-agenda {
  padding: 5px 0 20px 0;
}
.badge-asso {
  background-color: #34697d;
  color: #fff;
  position: relative;
  padding: 3px 7px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .asso {
    min-height: 250px;
  }
}
.asso h2 {
  margin-top: 0;
  font-family: 'the_sans_light', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: none;
  font-size: 24px;
}
.infos.asso {
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 15px;
}
.gerer-asso {
  font-size: 15px;
  margin-top: 23px;
}
.separateur-sidebar {
  border-top: 1px solid #dbdbdb;
  padding-top: 15px;
}
.liste-item .publication .btn-publication {
  color: #34697d;
  display: block;
  position: absolute;
  padding-bottom: 8px;
  bottom: 20px;
}
.liste-item .publication a:hover {
  color: #f05923;
}
.social-xs .rounded {
  padding-top: 13px;
}
.share {
  border: none;
  background: none;
  padding: 7px;
}
.share:focus {
  transition: 0.25s;
  background: #34697d;
  color: #ffffff;
}
.share:focus .rounded-sm {
  background: #ffffff;
  color: #34697d;
}
.pagination li:first-child > a,
.pagination li:last-child > a {
  border-radius: 100%;
}
.pagination li > a {
  padding: 4px 0 0 0;
  margin-left: 10px;
}
@media (max-width: 991px) {
  .pagination li > a {
    padding: 9px 0 0 0;
  }
}
.pagination .next-prev {
  padding-top: 3px;
}
