//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
// Footer
// --------------------------------------------------
.footer-social {
		margin:@grid-gutter-width 0 ceil((@grid-gutter-width * 3)) 0;
		@media(max-width:@screen-xs-max){
			margin-bottom:0;
		}
	h2 {
		border-top:2px solid @gray-lighter;
		border-bottom:2px solid @gray-lighter;
		display:inline-block;
		margin:@grid-gutter-width auto;
		text-transform:uppercase;
	  	@media(max-width:@screen-xs-max){
			font-size:16px;
		}
		strong {
			color:@orange;
			font-family:the_sans_regular, Arial, Helvetica, sans-serif;
			font-weight:900;
		}
	}
	.btn {
		margin:0 @grid-gutter-width;
	}
}
.follow {
	margin:0;
	padding:0;
	li  {
	padding:0;
	margin:0 0 @grid-gutter-width;
	}
}	
.partenaires li{
	padding:@grid-gutter-width;
}
footer{
	background:@blue;
	color:lighten(@white,80%);
	padding:@grid-gutter-width 0;
	padding-bottom:0;
	margin-top:ceil((@grid-gutter-width / 2));
	@media(min-width:@screen-md-min){
		margin-top:@grid-gutter-width;
		}
	.navbar-default{
			margin:15px 0;
		}
		a{
			color:@white;
			text-decoration:underline;
		}
		.btn{
			text-decoration:none;
			margin-top:	@grid-gutter-width;		
		}
		.btn-default.btn-alt{
			color:@white;
			border:1px solid @white;
			font-size:15px;		
			text-transform:uppercase;
		}

	h2{
		font-size:25px;
		 margin: 2px 0 15px 0px;
	}
	.infos-footer{ 
		background:darken(@blue, 20%);
		color:@gray-lighter;
		h3{
            font-family: 'the_sans_bold';
            border-top:2px solid @gray;
            border-bottom:2px solid @gray;
            padding-top:10px;
            padding-bottom:10px;
            margin-top:30px;
            color:@white;
            text-transform:uppercase;
			font-size: 20px;
		}
		.fa{
            color:@sand2;
		}
		h4{
		    font-size:18px;	
		    font-weight:bold;
		}
	}
	.bottom-bar{
		background:darken(@blue, 25%);
		min-height:42px;
		a{
		text-decoration:none;
		}
		a:hover{
		color:@sand2;
		}
		ul {
			margin-bottom:0;
		}
		li{
		padding-top:10px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:10px;
		}
	}
	ul.horaires{
		padding-left:0;
		li{list-style-type:none;}
		li:before{
		    content:@fa-var-check;
			font: normal normal normal 14px/1 FontAwesome;
		    padding-right:5px;
		    color:@sand2;
	    }
    }
}
@media (min-width: @screen-md-min) {
    .pull-right-lg {
        float: right;
    }
}
#top-link-block{
	margin:@grid-gutter-width;
	right:0;
	border:0;
	bottom:-20px;
	position:fixed;
	transition:@transition-time-slow;
	opacity:0;
	 z-index: 50;
	.fa {
		padding-top:5px;
		color:@white;
	}
	.btn.rounded, .rounded {
		background:@blue;
	}
	&.active {
		opacity:1;
	bottom:0;
	}
}
	

