//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
//page dashboard
// --------------------------------------------------
.dashboard, .formulaire, .widget{
	.facture{
		font-family: 'the_sans_bold', Arial, Helvetica, sans-serif;
		font-size: 19px;
	}
	a.tab-form{
		color:@black;
	}
	.panel.panel-default .panel-heading{
		background: #f5f5f5;
	}
	.panel .panel-heading {
		box-shadow:none;
		border-radius: 0;
		border-bottom: 1px solid #d4d4d4;
		padding:@grid-gutter-width;
		#myTab {
			margin:0;
		}
		ul{
			display: inline-block;
			li{
				a{
					background:none;
					opacity:0.3;
					padding: 0 30px 0 0;
					@media(max-width:@screen-xs-max){
						padding: 0 15px 0 0;
					}
				}
				a:hover, a:focus, a:active{
					background:none;
					opacity:1;
				}
				&.active{
					a{
						opacity:1;
					}
				}
			}
		}
		h3{
			margin:0;
			padding-top:0;
			text-transform: uppercase;
			color: @black;
			@media(max-width:@screen-xs-max){
				font-size:15px;
				padding-top:18px;
			}
			.highlight{
				color:@orange;
				font-style: italic;
			}
		}
		.panel-actions{
			float: right;
			margin-right: -15px;
			border-left: 1px solid white;
			font-size: 0;
			h4{
				display: inline-block;
				border-left: 1px solid #d4d4d4;
				text-align: center;
				box-shadow: inset 0 0 1px 1px #fff;
				margin:0;
				padding:0 15px;
				font-weight:bold;
				font-size:@font-size-base;
			}
		}
	}
	.panel-body{
		h3{
			margin:0;
		}
		.tab-content{
			padding:0;
		}
		.table{
			margin-bottom: 0;
			.payer{
				color:@orange;
			}
			th{
				font-size:15px;
			}
		}
	}
}