//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
// Quicklinks
// --------------------------------------------------

.quicklink  {
	@media (min-width: @screen-lg-min) {
	padding:@grid-gutter-width 0 0 0 ;
	margin-bottom:@grid-gutter-width;
	}
	.well {
	    padding:0;
		margin:0;
		text-align:center;
		background-image:none;
		background-color:@sand2;
		border:none;
		transition:0.5s;
		box-shadow:none;

		}
  li #demarche.btn {
      span {
        	&.text-inner {
			small {
				text-transform: lowercase;
				white-space: normal;
			}
        }
      }
  }
	li:nth-child(1) .btn, li:nth-child(2) .btn, li:nth-child(4) .btn {
			@media (min-width: @screen-lg-min) {
				border-bottom:2px solid @gray-lighter;
			}
			&:hover{
				border-color:@orange;
			}
		}
    .dashboard{
        margin-bottom:30px;
        li .btn{
		border:none;
		}
    }
	.btn {
		display:block;
		padding:10px 0 ;
		margin:5px @grid-gutter-width;
		line-height:(@font-size-base * 1.25);
		min-height: 100px;
		box-sizing: padding-box;
		text-transform:uppercase;
		background-color:transparent;
		&:hover, &:focus{
			color:@white;
			}
		.fa{
			transition : @transition-time;
			font-size:20px;
			margin-bottom:ceil((@grid-gutter-width / 2));
			background-color:@blue;
			color:@white;
			  padding: 10px;
			  width: 42px;
			  height: 42px;
			  display: inline-block;
		}
			&:hover .fa {
			background-color:@white;
				color:@orange;

			}
		.inverse{
			transition : @transition-time;
			font-size:20px;
			margin-bottom:ceil((@grid-gutter-width / 2));
			background-color:@white;
			color:@blue;
			  padding: 10px;
			  width: 42px;
			  height: 42px;
			  display: inline-block;
		}
			&:hover .inverse {
			background-color:@white;
			color:@orange;
			}

	}
	li:last-child .btn {
		margin:0;
		width:100%;
		background-color:@blue;
		min-height: 115px;
		&:hover {
			color:@white;
			background-color:@orange;
		}
	}
	ul.dropdown-menu {
 		background-color: @blue;
		margin: 0 0 0 7px;
		padding:0;
		box-shadow: none;
		>li>a {
			color:@white;
			border-bottom:1px solid fade(@white,20%);
			padding:@grid-gutter-width;
			background-image:none;
			}
		>li>a:hover {
			background-color:@orange;
			color:@white;
			}
		>li:last-child>a {
			border:none;
		}
	}
}


