//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";


//
// Load the fonts
// --------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@font-face { 
    font-family: 'the_sans_regular';
    src: url('@{fonts-path}thesans_b5_plain-webfont.eot');
    src: url('@{fonts-path}thesans_b5_plain-webfont.eot?#iefix') format('embedded-opentype'), 
         url('@{fonts-path}thesans_b5_plain-webfont.woff2') format('woff2'),
         url('@{fonts-path}thesans_b5_plain-webfont.woff') format('woff'),
         url('@{fonts-path}thesans_b5_plain-webfont.ttf') format('truetype'),
         url('@{fonts-path}thesans_b5_plain-webfont.svg#thesansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'the_sans_light';
    src: url('@{fonts-path}thesans_light_plain-webfont.eot');
    src: url('@{fonts-path}thesans_light_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}thesans_light_plain-webfont.woff2') format('woff2'),
         url('@{fonts-path}thesans_light_plain-webfont.woff') format('woff'),
         url('@{fonts-path}thesans_light_plain-webfont.ttf') format('truetype'),
         url('@{fonts-path}thesans_light_plain-webfont.svg#the_sans_light-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'the_sans_bold';
    src: url('@{fonts-path}thesans_b8_extrabold-webfont.eot');
    src: url('@{fonts-path}thesans_b8_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}thesans_b8_extrabold-webfont.woff2') format('woff2'),
         url('@{fonts-path}thesans_b8_extrabold-webfont.woff') format('woff'),
         url('@{fonts-path}thesans_b8_extrabold-webfont.ttf') format('truetype'),
         url('@{fonts-path}thesans_b8_extrabold-webfont.svg#thesansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


//
// No Gutter (ads-COM)
// --------------------------------------------------

.row.no-gutters {
		margin-right: 0;
		margin-left: 0;
	
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

//
// Police adjustement
// --------------------------------------------------
body .container {
	font-size: (@font-size-base + 1);
	.breadcrumb,
	.share,
	aside {
		font-size: @font-size-base;
	}
}
footer .container {
	font-size: @font-size-base;
}

//
// Heading
// --------------------------------------------------

h1 {
	font-family:'the_sans_bold', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
h2{
	text-transform:uppercase;
	font-weight:bold;
}

hr{
	border:1px solid @gray-lighter;
}

//
// Paragraph
// --------------------------------------------------

p {
	margin: 0 0 20px;
 }

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-alt {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	line-height: 1.5; 
	}
.btn-group-lg>.btn, .btn-lg,
.btn-default,
.btn-primary,
.btn-secondary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
text-shadow:none;
  border:0;
  border-radius:0;
  transition:@transition-time;

  // Reset the shadow
  &:active,
  &.active {
  }
  &:hover,
  &:focus {
	color:#fff;
  }

  .badge {
    text-shadow: none;
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
  border-color: darken(@btn-color, 14%);

  &:hover,
  &:focus  {
    background-color: @orange;
  }

  &:active,
  &.active {
    background-color: darken(@btn-color, 12%);
    border-color: darken(@btn-color, 14%);
  }

  &:disabled,
  &[disabled] {
    background-color: darken(@btn-color, 12%);
  }
}

.btn-styles-alt(@btn-color: #555) {
	background-color:transparent; 
	border:1px solid @btn-color; 
	color: @btn-color;

  &:hover,
  &:focus  {
    background-color: @orange;
    border-color: @orange;
	color:@white;
  }

  &:active,
  &.active {
    background-color: @orange;
    color: @white;
  }

  &:disabled,
  &[disabled] {
    background-color: darken(@btn-color, 12%);
  }
}


// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-secondary { .btn-styles(@orange); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }


.btn-default.btn-alt { .btn-styles-alt(@btn-primary-bg); }
.btn-primary.btn-alt { .btn-styles-alt(@btn-primary-bg);  }
.btn-secondary.btn-alt { .btn-styles-alt(@orange);  }
.btn-success.btn-alt {.btn-styles-alt(@btn-success-bg);  }
.btn-info.btn-alt   { .btn-styles-alt(@btn-info-bg);  }
.btn-warning.btn-alt { .btn-styles-alt(@btn-warning-bg);  }
.btn-danger.btn-alt  { .btn-styles-alt(@btn-danger-bg);  }

.btn.rounded, .rounded {
	border-radius:100%;
	text-align:center;
	height: 40px;	
	width: 40px;
}
.btn.rounded-lg, .rounded-lg {
	border-radius:100%;
	text-align:center;
	width: 80px;
	height:80px;	
	.fa {
		margin-top:15px;
	}
}
.btn.rounded-sm, .rounded-sm {
	border-radius:100%;
	text-align:center;
	width: 30px;
	height:30px;	
	padding:5px 0 0 1px;
	@media(max-width:@screen-sm-max){
		height: 40px;	
		width: 40px;
		padding-top:10px;	
	}
}
button.btn.rounded-sm {
	padding-top: 2px;
}

/*
.centre{
	padding-left: 2px;
	@media(max-width:@screen-sm-max){
		padding-left: 5px;
	}
}
*/
//
// Images
// --------------------------------------------------

.thumbnail, .img-thumbnail {
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active{
	border-color:@orange;
}

//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}



//
// Modals
// --------------------------------------------------
.modal-content {
	border-radius:0;
}
.modal-header {
    margin: 15px 15px 0 15px;
	padding: 0 0 5px 0;
    border-bottom: none;
    min-height: 16.5px;
    text-align: center;
    border-bottom: 2px solid @gray-lighter;
} 
.modal-footer {
    padding:@grid-gutter-width 0 0;
	margin:0 @grid-gutter-width @grid-gutter-width;
    /* text-align: right; */
    border-top: 2px solid @gray-lighter;
	.rounded.fa {
		margin-top:8px;
	}
	span.fa{
		margin-top: 7px;
	}
	p {
		    margin-top: 8px;
    margin-bottom: 10px;
	}
}
//
// Alerts
// --------------------------------------------------

// Common styles
.alert {
  @shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow(@shadow);
  	font-family: 'Roboto';
	font-size:ceil((@font-size-base * 1.5));
}

// Mixin for generating new styles
.alert-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 7.5%));
  border-color: darken(@color, 15%);
   border-left: 2px solid darken(@color, 15%);
}

// Apply the mixin to the alerts
.alert-success    { .alert-styles(@alert-success-bg); }
.alert-info       { .alert-styles(@alert-info-bg); }
.alert-warning    { .alert-styles(@alert-warning-bg); }
.alert-danger     { .alert-styles(@alert-danger-bg); }


.alert h2 {
	margin-top:0;
}
.has-success {
	.fa{
		padding-right:15px;
		color:@brand-success;
	}
	.control-label, .form-control{
		border-color:#a5e046;
		color:@brand-success;
	}
}

.has-error {
	.fa{
		padding-right:15px;
		color:@brand-danger;
	}
	.control-label, .form-control{
		border-color:darken(@brand-danger,10%);
		color:@brand-danger;
	}
}

//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
  #gradient > .vertical(@start-color: darken(@progress-bg, 4%); @end-color: @progress-bg)
}

// Mixin for generating new styles
.progress-bar-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { .progress-bar-styles(@progress-bar-bg); }
.progress-bar-success    { .progress-bar-styles(@progress-bar-success-bg); }
.progress-bar-info       { .progress-bar-styles(@progress-bar-info-bg); }
.progress-bar-warning    { .progress-bar-styles(@progress-bar-warning-bg); }
.progress-bar-danger     { .progress-bar-styles(@progress-bar-danger-bg); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
  #gradient > .striped();
}


//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: @border-radius-base;
  .box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  #gradient > .vertical(@start-color: @list-group-active-bg; @end-color: darken(@list-group-active-bg, 7.5%));
  border-color: darken(@list-group-active-border, 7.5%);
  .badge {
    text-shadow: none;
  }
}
.nav.nav-stacked>li>a:focus, .nav.nav-stacked>li>a:hover {
	color:@white;
}

//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }


// 
// Wells
// --------------------------------------------------

.well{
	margin:@grid-gutter-width 0 ceil((@grid-gutter-width * 2)) 0;
	padding:0;
	background:@sand2;
	.form-group{
		margin:15px;
		color:@blue;
	}
	.nav li a:hover, .nav li a:active{
		background-color:rgba(255, 255, 255, 0.3);
		color:@orange;
		padding-left:ceil((@grid-gutter-width * 2));
		transition:@transition-time;
	}
	.nav > li > a{
		padding: 5px 0;
		&:hover, &:active{
			padding-left: @grid-gutter-width;
		}
	}
}
.well.base{
	padding:ceil((@grid-gutter-width * 2));
	margin:0 0 @grid-gutter-width;
}




// --------------------------------------------------
// Breacrumb
// --------------------------------------------------

.breadcrumb{
	background:none;
	padding:12px 0 0 0;
	margin:0;
	a{
	text-decoration:underline;
	}
}

// --------------------------------------------------
// Links
// --------------------------------------------------
a{
	transition:@transition-time;
	}






// --------------------------------------------------
// Jumbotron
// --------------------------------------------------

#jumbotron h3{
		font-weight:800;
		text-transform:uppercase;
		font-size:@font-size-h2;
		
	}
	
// --------------------------------------------------
// Carousel
// --------------------------------------------------

.carousel {
	.carousel-control .fa{ 
		position: absolute;
		top:~'calc(50% - 10px)';
		left:~'calc(50% - 10px)';
		@media (min-width: @screen-sm-min) {
			top:50%;
		}
		margin-top:-10px;
	}
}
.carousel, .carousel-inner, .carousel .item{
	height:340px;  
		margin-bottom:ceil((@grid-gutter-width * 2));
	@media (min-width: @screen-xxs) {
		height:450px;
	}	
	@media (min-width: @screen-sm-min) {
		height:405px;
	}	
	@media (min-width: @screen-md-min) {
		height:490px;
		margin-bottom:@grid-gutter-width;
	}	
	@media (min-width: @screen-lg-min) {
		height:460px;
	}	
}

.carousel-control,.ads-com-carousel-slide .carousel-control.left, .ads-com-carousel-slide .carousel-control.right {
    width: 50px;
	background-image:none;
	}
.carousel-indicators li, .carousel-indicators li.active, .ads-com-carousel-slide .carousel-indicators li, .ads-com-carousel-slide .carousel-indicators li.active {	
	border:none;
	margin: 0 5px 0 0;
	width: 10px;
	height: 10px;
	@media (max-width: @screen-sm-max) {
		margin-top:5px;
		width: 20px;
		height: 20px;
		border-radius:100%;
		margin-right:@grid-gutter-width / 4;
	}
}
.carousel-publication, .carousel-publication .carousel-inner,.carousel-publication .carousel .item{
	height:780px;
	@media (min-width: 424px) {
		height:805px;
	}	
	@media (min-width: @screen-sm-min) {
		height:365px;
	}	
	@media (min-width: @screen-md-min) {
		height:305px;
	}	
	@media (min-width: @screen-lg-min) {
		height:400px;
	}	
}

	
// --------------------------------------------------
// Tabs
// --------------------------------------------------
.nav-tabs {
  border-bottom:2px solid @gray-lighter;
	margin-top:ceil((@grid-gutter-width / 2));
	@media(max-width:@screen-md-max){
		margin-top:ceil((@grid-gutter-width * 2));
	}
}
.nav-tabs > li {
	margin-right:@grid-gutter-width;
	@media (max-width: @screen-xs-max) {
		float:none;
	}
	@media (min-width: @screen-sm-min) {
		margin-right:ceil((@grid-gutter-width * 5));
	}
	
}
.nav-tabs > li > a {
	font-size: 20px;
	font-family:@font-family-variant;
	text-transform:uppercase;
	border:none;
	padding:0;
	display: inline-block;
	transition:0s;
	height:35px;
	@media (max-width: @screen-xs-max) {
		margin-bottom:ceil((@grid-gutter-width / 2));
	}

	}
.nav-tabs > li > a:hover {
	background:none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	font-family:'the_sans_bold', Arial, Helvetica, sans-serif;
	border:none;
	transform:scale(1.25);
	transform-origin: center bottom;
	@media (max-width: @screen-xs-max) {
		transform-origin: left bottom;
		}
	border-bottom:2px solid @orange;
	top:1px;
	color:black;
	
	}
.nav-tabs > li:first-child.active > a, .nav-tabs > li:first-child.active > a:hover, .nav-tabs > li:first-child.active > a:focus {

	transform-origin: 0 bottom;
}
.tab-content {
	padding:@grid-gutter-width 0 ; 
	}
#myTab > li.active > a{
		font-weight:700;
}

// --------------------------------------------------
//page editorial
// --------------------------------------------------
.programme{
	padding:15px;
}
article h2{
	margin-top:40px;
}
article h3{
	margin-top:30px;
}
article .exhibit  {
	h3 {
		margin-top:0;
		}
	li {
		margin-bottom:ceil((@grid-gutter-width / 2)); 
	}
	.fa {
		margin-right:5px;
	}
	p + ul {
		margin-top:-10px;
	}
}

.thumbnail .exhibit {
	padding:0 @grid-gutter-width;
}
// --------------------------------------------------
//page liste actu-agenda-connexion-diapo-asso-publication
// --------------------------------------------------
.actu, .agenda, .connexion, .diapo, .asso, .edit, .dashboard, .sommaire, .video, .formulaire, .publication{
	h1{
		font-size:30px;
		color:@black;
		margin:0;
		padding:15px 0 20px 0;
		font-weight:700;
		@media(max-width:@screen-xs-max){
			padding-top:30px;
		}
	}
}
.satellite h1{
	font-size: 25px;
	color:@black;
	margin: 15px 0 15px 0;
    padding: 0px 0 7px 0;
	font-weight:700;
	@media(max-width:@screen-xs-max){
		padding-top:30px;
	}
	border-bottom:2px solid @gray-lighter;
}
.couverture {
	margin-top:0;
}
.badge-agenda{
	padding:5px 0 20px 0;
}
.badge-asso {
	background-color:@blue;
	color:#fff;
	position:relative; 
	padding: 3px 7px;
	font-size: 12px;
}
.asso{
	@media (min-width: @screen-sm-min) {
				min-height:250px;				
	}
	h2{
		margin-top:0;
		font-family: 'the_sans_light', Arial, Helvetica, sans-serif;
    	font-weight: 500;
		text-transform: none;
    	font-size: 24px;
	}
}	
.infos.asso {
	border-bottom:2px solid @gray-lighter;
	margin-bottom:@grid-gutter-width;
}
.gerer-asso{
	font-size: 15px;
	margin-top:23px;
}
.separateur-sidebar{
	border-top: 1px solid @gray-lighter; 
    padding-top: 15px;
}
.liste-item .publication{
	.btn-publication{
		color:@blue;
		display:block;
		position:absolute;
		padding-bottom:ceil((@grid-gutter-width / 2));
		bottom:20px;
		&.left {

		}
		&.right {
            right: 8px;
		}
	}

	a:hover{color:@orange;}
}






.social-xs{
	.rounded{
		padding-top:13px;
	}
}
.share{
	border:none;
	background:none;
	padding:7px;
	&:focus{
		transition:@transition-time;
		background:@blue;
		color:@white;
		.rounded-sm{
			background:@white;
			color:@blue;
		}
	}
}

// --------------------------------------------------
//pagination
// --------------------------------------------------
.pagination {
	li:first-child > a, li:last-child > a {
		border-radius: 100%;
	}
	li > a{
		padding: 4px 0 0 0;
		margin-left: 10px;
		@media(max-width:@screen-sm-max){
			padding:9px 0 0 0;
		}
	}
	.next-prev{
		padding-top:3px;
	}
}


// --------------------------------------------------
// pagination
// --------------------------------------------------
form .help-block.error {
	background-color: @state-danger-bg;
	padding: 5px;
	font-size: @font-size-small;
	margin-top: 7px;
	position: relative;
	&:before {position: absolute;
		top: -7px;
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 7px 7px 7px;
		border-color: transparent transparent @state-danger-bg transparent;
		
	}
}
