---
subject: My Password Email Template Subject
---

<container>

  <row class="header">
    <columns>

      <spacer size="16"></spacer>
      
      <h4 class="text-center">PORTAIL CITOYEN <small>- ORLEANS</small></h4>

      <hr/>
    </columns>
  </row>

  <row>
    <columns>

      <spacer size="32"></spacer>



      <h1 class="text-center">Mot de passe oublié?</h1>
      
      <spacer size="16"></spacer>

      <p class="text-center">Pour le réinitialiser, veuillez cliquer sur le bouton suivant :</p>
      <button class="large expand" href="#">Réinitialiser le mot de passe</button>

      <hr/>

      <p><small>Si vous n'êtes pas à l'origine de cette demande, vous pouvez l'ignorer.<br />
        Attention, sans validation de votre part dans les 3 jours, votre demande sera annulée.</small></p>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <center>
        <menu>
          <item href="https://www.facebook.com/OrleansMetropole/?fref=ts"><img src="https://public.message-business.com/contents/2/375/51375/Images/_gabarit-orleans/Facebook.png" alt="Facebook"></item>
          <item href="https://twitter.com/orleansmetropol?lang=fr"><img src="https://public.message-business.com/contents/2/375/51375/Images/_gabarit-orleans/Twitter.png" alt="Twitter"></item>
          <item href="https://www.youtube.com/user/OrleansetsonAgglO"><img src="https://public.message-business.com/contents/2/375/51375/Images/_gabarit-orleans/Youtube.png" alt="Youtube"></item>
          <item href="https://plus.google.com/+aggloorleans"><img src="https://public.message-business.com/contents/2/375/51375/Images/_gabarit-orleans/Googleplus.png" alt="Gooplus"></item>
        </menu>
      </center>
    </columns>
    <columns>
      <center>
      <spacer size="16"></spacer>
      <img width="80px" size="20" style="width:100px" src="https://public.message-business.com/contents/2/375/51375/Images/_gabarit-orleans/MAIRIE_ORLEANS_METROPOLE.png" />
      </center>
    </columns>
    <columns>
      <center>
      <spacer size="16"></spacer>
      <button class="small   expand" href="http://www.orleans-metropole.fr/contact">Nous contacter</button>
      </center>
    </columns>
  </row>

</container>
